<app-paginator [total]="total" [sorts]="sorts" (output)="onOptions($event)" [shown]="users?.length"></app-paginator>
<p class="info" *ngIf="users && users?.length === 0">No results</p>
<app-loader *ngIf="isLoading"></app-loader>
<table *ngIf="users">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Emp No.</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" class="clickable" (click)="viewUser($event.target.nodeName, user)">
            <td data-label="Name">{{user.name | titlecase}}</td>
            <td data-label="Username">{{user.username | lowercase}}</td>
            <td data-label="Emp No.">{{user.empNo | uppercase}}</td>
            <td data-label="Action"><i class="fa fa-trash action-icon action-icon--danger"
                    (click)="delete(user.id)" *ngIf="user.id !== loggedInUser.id"></i></td>
        </tr>
    </tbody>
</table>