<form #f="ngForm" (ngSubmit)="addGroup(f.value)" ngNativeValidate>
    <div class="form-title">
        <span class="form-heading">Add user group</span>
        <span>Select all the tables that users in this group will be allowed to access</span>
    </div>
    <fieldset>
        <label for="name">Group name</label>
        <input type="text" name="name" id="name" required ngModel autocomplete="off">
    </fieldset>
    <fieldset class="full-width">
        <label for="tables">Access</label>
        <article id="tables">
            <div *ngFor="let table of tables">
                <span>{{table}}</span>
                <div>
                    <input type="checkbox" [name]="table" [id]="table + 'create'" value="CREATE"
                        (change)="onGrantChange($event.target, table, 'CREATE')">
                    <label [for]="table + 'create'">Create</label>
                </div>
                <div>
                    <input type="checkbox" [name]="table" [id]="table + 'update'" value="UPDATE"
                        (change)="onGrantChange($event.target, table, 'UPDATE')">
                    <label [for]="table + 'update'">Update</label>
                </div>
                <div>
                    <input type="checkbox" [name]="table" [id]="table + 'read'" value="SELECT"
                        (change)="onGrantChange($event.target, table, 'SELECT')">
                    <label [for]="table + 'read'">Read</label>
                </div>
                <div>
                    <input type="checkbox" [name]="table" [id]="table + 'delete'" value="DELETE"
                        (change)="onGrantChange($event.target, table, 'DELETE')">
                    <label [for]="table + 'delete'">Delete</label>
                </div>
            </div>
        </article>
    </fieldset>
    <fieldset>
        <button class="btn btn--primary" [disabled]="grants.length === 0">Create group</button>
        <app-loader *ngIf="isLoading"></app-loader>
    </fieldset>
</form>