<app-portal>
  <ng-container class="render">
    <div>
      <button class="btn btn--blue" (click)="back()">Back</button>
      <span class="item-title">Form {{stream?.level}} {{stream?.name}}</span>
    </div>
    <div class="tabs tabs--vertical">
      <ol class="tabs__links tabs__links--vertical">
        <li data-revealId="details" data-default="true" appTabView>Details</li>
        <li data-revealId="update" appTabView appPermitted [table]="'stream'" [operation]="'update'">Update details</li>
        <li data-revealId="add-students" appTabView appPermitted [table]="'student_class'" [operation]="'create'"
          (click)="loadUnstreamed()">Add
          students</li>
        <li data-revealId="view-students" appTabView (click)="viewStudents()">View students</li>
        <li data-revealId="print-students" appTabView (click)="printStudents()">Print students</li>
        <li data-revealId="danger" appTabView appPermitted [table]="'stream'" [operation]="'delete'">Danger zone</li>
      </ol>
      <div class="tabs__content tabs__content--vertical">
        <div data-revealId="details">
          <app-loader *ngIf="isGettingBasicDetails"></app-loader>
          <table class="details-table" *ngIf="!isGettingBasicDetails && stream">
            <tbody>
              <tr>
                <td>Name</td>
                <td>Form {{stream?.level}} {{stream?.name}}</td>
              </tr>
              <tr>
                <td>Class</td>
                <td>Form {{stream?.level}}</td>
              </tr>
              <tr>
                <td>Total students</td>
                <td>{{stream?.students | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="update" appPermitted [table]="'class'" [operation]="'update'">
          <form #streamForm="ngForm" (ngSubmit)="updateStream(streamForm.value)">
            <span></span>
            <div class="input">
              <fieldset>
                <label for="name">Stream name</label>
                <input type="text" required name="name" autocomplete="off" id="name" [ngModel]="stream?.name">
              </fieldset>
            </div>
            <div class="submit">
              <fieldset>
                <button class="btn btn--blue" [disabled]="isSavingStream">Save</button>
              </fieldset>
              <app-loader *ngIf="isSavingStream"></app-loader>
            </div>
          </form>
        </div>
        <div data-revealId="add-students" appPermitted [table]="'student_stream'" [operation]="'create'">
          <form #addStudentsForm="ngForm" (ngSubmit)="addStudents(addStudentsForm.value)" ngNativeValidate>
            <span>Add students to Form {{stream?.level}} {{stream?.name}}</span>
            <app-loader *ngIf="isLoadingUnstreamed"></app-loader>
            <table *ngIf="!isLoadingUnstreamed">
              <thead>
                <th>Adm</th>
                <th>Name</th>
                <th class="not-mobile">Class</th>
                <th>Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let student of unstreamedStudents">
                  <td>{{student.adm}}</td>
                  <td>{{student.student}}</td>
                  <td class="not-mobile">Form {{student.class}}</td>
                  <td>
                    <input type="checkbox" name="stud_{{student.studentId}}" id="stud_{{student.studentId}}" ngModel
                      (change)="onSelectChange($event.target)" [value]="student.studentId">
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="submit" *ngIf="!isLoadingUnstreamed && studentsToAdd.length > 0">
              <fieldset>
                <button class="btn btn--blue" [disabled]="isAddingStudents">Add</button>
                <app-loader *ngIf="isAddingStudents"></app-loader>
              </fieldset>
            </div>
          </form>
        </div>
        <div data-revealId="view-students">
          <app-loader *ngIf="isGettingStudents"></app-loader>
          <table *ngIf="!isGettingStudents && students" class="not-mobile">
            <caption>Showing all {{students.length}} students</caption>
            <thead>
              <tr>
                <th>Adm</th>
                <th>Name</th>
                <th>Class</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <td>{{student.adm | uppercase}}</td>
                <td>{{student.name | titlecase}}</td>
                <td>Form {{stream.level}} {{stream.name | titlecase}}</td>
                <td class="danger" (click)="removeStudent(student.id)">Remove</td>
              </tr>
            </tbody>
          </table>
          <table *ngIf="!isGettingStudents && students" class="mobile-only">
            <tbody>
              <tr *ngFor="let student of students">
                <div>
                  <span>Adm</span>
                  <span>{{student.adm | uppercase}}</span>
                </div>
                <div>
                  <span>Name</span>
                  <span>{{student.name | titlecase}}</span>
                </div>
                <div>
                  <span>Class</span>
                  <span>Form {{stream.level}} {{stream.name | titlecase}}</span>
                </div>
                <div>
                  <span>Action</span>
                  <span style="color: red;cursor: pointer;" class="bold"
                    (click)="removeStudent(student.id)">Remove</span>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="print-students">
          <iframe [src]="printUrl" *ngIf="printUrl" frameborder="0"></iframe>
        </div>
        <div data-revealId="danger">Danger zone</div>
      </div>
    </div>
  </ng-container>
</app-portal>