<div *ngIf="category === 'stream'">
    <h4>Mark stream register</h4>
    <form #f="ngForm" (ngSubmit)="loadStudents(f.value.stream, true)" ngNativeValidate>
        <fieldset>
            <label for="stream">Select stream</label>
            <select name="stream" id="stream" required ngModel>
                <option [value]="s.id" *ngFor="let s of streams">Form {{s.level}} {{s.name | titlecase}}</option>
            </select>
        </fieldset>
        <fieldset>
            <label style="color: transparent;">.</label>
            <button class="btn btn--primary"><i class="fa fa-download"></i>Load students</button>
        </fieldset>
        <fieldset></fieldset>
    </form>
</div>
<div *ngIf="category === 'class'">
    <h4>Mark class register</h4>
    <form #fo="ngForm" (ngSubmit)="loadStudents(fo.value.class, false)"  ngNativeValidate>
        <fieldset>
            <label for="class">Select class</label>
            <select name="class" id="class" required ngModel>
                <option [value]="c.id" *ngFor="let c of classes">Form {{c.level}}</option>
            </select>
        </fieldset>
        <fieldset>
            <label style="color: transparent;">.</label>
            <button class="btn btn--primary"><i class="fa fa-download"></i>Load students</button>
        </fieldset>
        <fieldset></fieldset>
    </form>
</div>
<p class="info" *ngIf="students && students.length === 0">No unmarked students found</p>
<app-loader *ngIf="isLoading"></app-loader>
<table *ngIf="students && students.length > 0">
    <thead>
        <tr>
            <th>Adm</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of students">
            <td data-label="Adm">{{s.adm | uppercase}}</td>
            <td data-label="Name">{{s.name | titlecase}}</td>
            <td data-label="Action">
                <button class="btn" [ngClass]="{'btn--primary': selected.includes(s.id)}" (click)="check(s.id)">
                    <i class="fa fa-check"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<form *ngIf="selected.length > 0">
    <div class="form-title">
        <span class="form-heading">Mark Register</span>
    </div>
    <fieldset>
        <button (click)="mark()" class="btn btn--primary" [disabled]="isMarking">Mark Present</button>
        <app-loader *ngIf="isMarking"></app-loader>
    </fieldset>
</form>