<app-portal>
  <ng-container class="render">
    <app-loader *ngIf="isGettingStats"></app-loader>
    <div id="stats" *ngIf="!isGettingStats">
      <div class="stat">
        <span>Students</span>
        <div>
          <article>
            <div>
              <span style="color: green;">{{ stats.students.active.total | number }}</span>
              <span>Active students</span>
            </div>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.students.active.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.students.active.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: blueviolet;">{{ stats.students.archived.total | number }}</span>
              <span>Archived students</span>
            </div>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.students.archived.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.students.archived.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.students.all.total | number }}</span>
              <span>Total students</span>
            </div>
            <div>
              <span>{{ stats.students.all.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span>{{ stats.students.all.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: red;">{{ stats.students.expelled.total | number }}</span>
              <span>Expelled students</span>
            </div>
            <div>
              <span style="color: brown;">{{ stats.students.expelled.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span style="color: brown;">{{ stats.students.expelled.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
        </div>
      </div>
      <div class="stat">
        <span>Teachers</span>
        <div>
          <article>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.teachers.all.total | number }}</span>
              <span>Total</span>
            </div>
            <div>
              <span style="color: aqua;">{{ stats.teachers.all.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span style="color: aqua;">{{ stats.teachers.all.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: brown;">{{ stats.teachers.transferred.total | number }}</span>
              <span>Transferred</span>
            </div>
            <div>
              <span>{{ stats.teachers.transferred.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span>{{ stats.teachers.transferred.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: green;">{{ stats.teachers.retired.total | number }}</span>
              <span>Retired</span>
            </div>
            <div>
              <span>{{ stats.teachers.retired.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span>{{ stats.teachers.retired.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
        </div>
      </div>
      <div class="stat">
        <span>Human Resource</span>
        <div>
          <article>
            <div>
              <span style="color: blue;">{{ stats.hr.all.total | number }}</span>
              <span>Total</span>
            </div>
            <div>
              <span>{{ stats.hr.all.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span>{{ stats.hr.all.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: brown;">{{ stats.hr.transferred.total | number }}</span>
              <span>Transferred</span>
            </div>
            <div>
              <span>{{ stats.hr.transferred.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span>{{ stats.hr.transferred.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: green;">{{ stats.hr.retired.total | number }}</span>
              <span>Retired</span>
            </div>
            <div>
              <span>{{ stats.hr.retired.male | number }}</span>
              <span>Male</span>
            </div>
            <div>
              <span>{{ stats.hr.retired.female | number }}</span>
              <span>Female</span>
            </div>
          </article>
        </div>
      </div>
      <div class="stat">
        <span>Finance</span>
        <div>
          <article>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.finance.all.expected | number }}</span>
              <span>Expected fee</span>
            </div>
            <div>
              <span style="color: green;">{{ stats.finance.all.paid | number }}</span>
              <span>Paid</span>
            </div>
            <div>
              <span style="color: red;">{{ stats.finance.all.balance | number }}</span>
              <span>Balance</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.finance.active.expected | number }}</span>
              <span>From active</span>
            </div>
            <div>
              <span style="color: green;">{{ stats.finance.active.paid | number }}</span>
              <span>Paid</span>
            </div>
            <div>
              <span style="color: red;">{{ stats.finance.active.balance | number }}</span>
              <span>Balance</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.finance.payments.count | number }}</span>
              <span>Payments count</span>
            </div>
            <div>
              <span style="color: green;">{{ stats.finance.payments.average | number }}</span>
              <span>Average payment</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: green;">{{ stats.finance.payments.breakdown.day | number }}</span>
              <span>Paid today</span>
            </div>
            <div>
              <span style="color: blue;">{{ stats.finance.payments.breakdown.week | number }}</span>
              <span>Paid this week</span>
            </div>
            <div>
              <span style="color: brown;">{{ stats.finance.payments.breakdown.month | number }}</span>
              <span>Paid this month</span>
            </div>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.finance.payments.breakdown.year | number }}</span>
              <span>Paid this year</span>
            </div>
          </article>
        </div>
      </div>
      <div class="stat">
        <span>Classes</span>
        <div>
          <article>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.classes.total | number }}</span>
              <span>Classes</span>
            </div>
            <div>
              <span>{{ stats.classes.average | number }}</span>
              <span>Average per class</span>
            </div>
          </article>
        </div>
      </div>
      <div class="stat">
        <span>Exams</span>
        <div>
          <article>
            <div>
              <span>{{ stats.exams.total | number }}</span>
              <span>Exams</span>
            </div>
            <div>
              <span style="color: green;">{{ stats.exams.completed | number }}</span>
              <span>Completed</span>
            </div>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.exams.pending | number }}</span>
              <span>Pending</span>
            </div>
          </article>
        </div>
      </div>
      <div class="stat">
        <span>Hostels</span>
        <div>
          <article>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.hostels.category.total | number }}</span>
              <span>Hostels</span>
            </div>
            <div>
              <span>{{ stats.hostels.category.gents  | number }}</span>
              <span>Gents</span>
            </div>
            <div>
              <span>{{ stats.hostels.category.ladies  | number }}</span>
              <span>Ladies</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.hostels.capacity.total | number }}</span>
              <span>Capacity</span>
            </div>
            <div>
              <span style="color: red;">{{ stats.hostels.capacity.deficiency | number }}</span>
              <span>Deficiency</span>
            </div>
          </article>
        </div>
      </div>
      <div class="stat">
        <span>Attendance</span>
        <div>
          <article>
            <div>
              <span style="color: green;">{{ stats.attendance.daily.total | number }}</span>
              <span>Today</span>
            </div>
            <div>
              <span style="color: rgb(27, 155, 240);">{{ stats.attendance.daily.expected | number }}</span>
              <span>Expected</span>
            </div>
            <div>
              <span style="color: red;">{{ stats.attendance.daily.absent | number }}</span>
              <span>Absent</span>
            </div>
          </article>
          <article>
            <div>
              <span style="color: red;">{{ stats.attendance.out.suspended | number }}</span>
              <span>Suspended</span>
            </div>
            <div>
              <span style="color: green;">{{ stats.attendance.out.leave | number }}</span>
              <span>Leave out</span>
            </div>
          </article>
        </div>
      </div>
    </div>
  </ng-container>
</app-portal>