#note {
    span {
        color: red;
        text-transform: uppercase;
        font-weight: bold;
    }

    ol {
        margin-left: 15px;

        li {
            font-size: 16px;
            margin: 5px 0;
        }
    }
}