<app-portal>
  <ng-container class="render">
    <div class="tabs">
      <ol class="tabs__links">
        <li data-revealId="employee-add" data-default="true" appTabView appPermitted [table]="'employee'"
          [operation]="'create'">Add employee</li>
        <li data-revealId="employee-list" (click)="getEmployees()" appTabView appPermitted [table]="'employee'"
          [operation]="'select'">View employees</li>
        <li data-revealId="employee-print" (click)="print()" appTabView appPermitted [table]="'employee'"
          [operation]="'select'">Print</li>
      </ol>
      <div class="tabs__content">
        <div data-revealId="employee-add" appPermitted [table]="'employee'" [operation]="'create'">
          <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm.value)" ngNativeValidate>
            <span>Employee form</span>
            <div class="inputs">
              <fieldset>
                <label for="empNo">Employee number</label>
                <input type="text" name="empNo" id="empNo" required ngModel autocomplete="off"
                  pattern="[a-zA-Z0-9/-]{1,}">
              </fieldset>
              <fieldset>
                <label for="idNo">ID Number</label>
                <input type="text" name="idNo" id="idNo" required ngModel autocomplete="off" pattern="[0-9]{5,}">
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset>
                <label for="fname">First name</label>
                <input type="text" name="fname" id="fname" required ngModel autocomplete="off" pattern="[a-zA-Z' ]{1,}">
              </fieldset>
              <fieldset>
                <label for="mname">Middle name</label>
                <input type="text" name="mname" id="mname" ngModel autocomplete="off" pattern="[a-zA-Z' ]{0,}">
              </fieldset>
              <fieldset>
                <label for="lname">Last name</label>
                <input type="text" name="lname" id="lname" required ngModel autocomplete="off" pattern="[a-zA-Z' ]{1,}">
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset>
                <label for="gender">Gender</label>
                <div>
                  <div>
                    <input type="radio" name="gender" id="male" required ngModel value="Male">
                    <label for="male">Male</label>
                  </div>
                  <div>
                    <input type="radio" name="gender" id="female" required ngModel value="Female">
                    <label for="female">Female</label>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <label for="dob">Date of Birth</label>
                <input type="date" name="dob" id="dob" required ngModel>
              </fieldset>
              <fieldset>
                <label for="county">County of Residence</label>
                <select name="county" id="county" required ngModel>
                  <option [value]="county" *ngFor="let county of counties">{{county}}</option>
                </select>
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset>
                <label for="joined">Date appointed</label>
                <input type="date" name="joined" id="joined" required ngModel>
              </fieldset>
              <fieldset>
                <label for="category">Category</label>
                <div>
                  <div>
                    <input type="radio" name="category" id="teacher" required ngModel value="Teacher">
                    <label for="teacher">Teacher</label>
                  </div>
                  <div>
                    <input type="radio" name="category" id="other" required ngModel value="OTHER">
                    <label for="other">Other</label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset>
                <label for="position">Work title</label>
                <input type="text" name="position" id="position" required ngModel autocomplete="off"
                  pattern="[a-zA-Z ]{1,}">
              </fieldset>
              <fieldset>
                <label for="qualification">Academic qualification</label>
                <select name="qualification" id="qualification" required ngModel>
                  <option value="Certificate">Certificate</option>
                  <option value="Diploma">Diploma</option>
                  <option value="Degree">Degree</option>
                  <option value="Masters">Masters</option>
                  <option value="PhD">PhD</option>
                  <option value="Other">Other</option>
                </select>
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset>
                <label for="phone">Phone number</label>
                <input type="tel" name="phone" id="phone" required ngModel autocomplete="off" pattern="^07[0-9]{8}">
              </fieldset>
              <fieldset>
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" required ngModel autocomplete="off">
              </fieldset>
            </div>
            <div class="submit">
              <fieldset>
                <button class="btn btn--blue" [disabled]="isAddingEmployee">Save</button>
                <app-loader *ngIf="isAddingEmployee"></app-loader>
              </fieldset>
            </div>
          </form>
        </div>
        <div data-revealId="employee-list" appPermitted [table]="'employee'" [operation]="'select'">
          <app-normal-pagination [total]="total" (options)="onOptionsChange($event)"
            [sorts]="['id','empNo','fname','mname','lname','county','dob','joined','position','email','phone','idNo','qualification']">
          </app-normal-pagination>
          <app-loader *ngIf="isGettingEmployees"></app-loader>
          <table *ngIf="!isGettingEmployees" class="not-mobile">
            <thead>
              <tr>
                <th>Emp No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Position</th>
                <th>Employed</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees" class="clickable" (click)="viewDetails(employee.id)">
                <td>{{employee.empNo}}</td>
                <td>{{employee.fname | titlecase}} {{employee.lname | titlecase}}</td>
                <td>{{employee.email | lowercase}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.position | titlecase}}</td>
                <td>{{employee.joined | date}}</td>
              </tr>
            </tbody>
          </table>
          <table *ngIf="!isGettingEmployees" class="mobile-only">
            <tbody>
              <tr *ngFor="let employee of employees" class="clickable" (click)="viewDetails(employee.id)">
                <div>
                  <span>Emp No.</span>
                  <span>{{employee.empNo}}</span>
                </div>
                <div>
                  <span>Name</span>
                  <span>{{employee.fname | titlecase}} {{employee.lname | titlecase}}</span>
                </div>
                <div>
                  <span>Email</span>
                  <span>{{employee.email | lowercase}}</span>
                </div>
                <div>
                  <span>Phone</span>
                  <span>{{employee.phone}}</span>
                </div>
                <div>
                  <span>Position</span>
                  <span>{{employee.position | titlecase}}</span>
                </div>
                <div>
                  <span>Joined</span>
                  <span>{{employee.joined | date}}</span>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="employee-print" appPermitted [table]="'employee'" [operation]="'select'">
          <iframe [src]="printUrl" *ngIf="printUrl" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </ng-container>
</app-portal>