<h4 *ngIf="category === 'non-teachers'">Create new teachers</h4>
<h4 *ngIf="category === 'active'">Current teachers</h4>
<h4 *ngIf="category === 'transfered'">Transfered teachers</h4>
<h4 *ngIf="category === 'retired'">Retired teachers</h4>
<app-paginator [total]="total" [sorts]="columns" (output)="onOptionsChange($event)" [shown]="teachers?.length">
</app-paginator>
<table>
    <thead>
        <tr>
            <th>Employee no.</th>
            <th>Name</th>
            <th>ID No.</th>
            <th *ngIf="category === 'non-teachers'">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of teachers">
            <td data-label="Employee no.">{{t.empNo}}</td>
            <td data-label="Name">{{t.name}}</td>
            <td data-label="ID No.">{{t.idNo}}</td>
            <td data-label="Action" *ngIf="category === 'non-teachers'">
                <button class="btn" [ngClass]="{'btn--primary': selected.includes(s.id)}" (click)="check(s.id)">
                    <i class="fa fa-check"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<form *ngIf="selected.length > 0">
    <div class="form-title">
        <span class="form-heading">Create teachers</span>
    </div>
    <fieldset>
        <button class="btn btn--primary" [disabled]="isSavingTeachers" (click)="createTeachers()">Create
            {{selected.length | number}} teachers</button>
    </fieldset>
</form>