<p class="info" *ngIf="hostels && hostels.length === 0">No hostels found</p>
<app-loader *ngIf="isLoading"></app-loader>
<table *ngIf="hostels && hostels.length > 0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Capacity</th>
            <th>Occupied</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let h of hostels" (click)="update($event.target.nodeName, h)" class="clickable">
            <td>{{h.name | titlecase}}</td>
            <td>{{h.type | titlecase}}</td>
            <td>{{h.capacity | number}}</td>
            <td>{{h.total | number}}</td>
            <td><i class="fa fa-trash action-icon action-icon--danger" (click)="delete($event.target.nodeName, h)"></i>
            </td>
        </tr>
    </tbody>
</table>