<app-portal>
  <ng-container class="render">
    <div class="tabs">
      <ol class="tabs__links">
        <li data-revealId="hostels" data-default="true" appTabView>Hostels</li>
      </ol>
      <div class="tabs__content">
        <div data-revealId="hostels">
          <div class="tabs tabs--vertical">
            <ol class="tabs__links tabs__links--vertical">
              <li data-revealId="new-hostel" data-default="true" appTabView appPermitted [table]="'hostel'"
                [operation]="'create'">New hostel</li>
              <li data-revealId="view-hostels" appTabView (click)="getHostels()">View hostels</li>
              <li data-revealId="add-students" appTabView (click)="getHostels()" appPermitted [table]="'student_hostel'"
                [operation]="'create'">Add students</li>
              <li data-revealId="view-students" appTabView>View students</li>
            </ol>
            <div class="tabs__content tabs__content--vertical">
              <div data-revealId="new-hostel" appPermitted [table]="'hostel'" [operation]="'create'">
                <form #hostelForm="ngForm" (ngSubmit)="addHostel(hostelForm.value)" ngNativeValidate>
                  <span>Ne hostel</span>
                  <div class="input">
                    <fieldset>
                      <label for="name">Hostel name</label>
                      <input type="text" name="name" id="name" required ngModel autocomplete="off">
                    </fieldset>
                  </div>
                  <div class="input">
                    <fieldset>
                      <label for="capacity">Capacity</label>
                      <input type="number" name="capacity" id="capacity" required ngModel autocomplete="off" min="1">
                    </fieldset>
                  </div>
                  <div class="input">
                    <fieldset>
                      <label for="type">Occupants type</label>
                      <div>
                        <div>
                          <input type="radio" name="type" id="gents" required value="Gents" ngModel>
                          <label for="gents">Gents</label>
                        </div>
                        <div>
                          <input type="radio" name="type" id="ladies" required value="Ladies" ngModel>
                          <label for="ladies">Ladies</label>
                        </div>
                        <div>
                          <input type="radio" name="type" id="mixed" required value="Mixed" ngModel>
                          <label for="mixed">Mixed</label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="submit">
                    <fieldset>
                      <button class="btn btn--blue" [disabled]="isSavingHostel">Save</button>
                      <app-loader *ngIf="isSavingHostel"></app-loader>
                    </fieldset>
                  </div>
                </form>
              </div>
              <div data-revealId="view-hostels">
                <app-loader *ngIf="isGettingHostels"></app-loader>
                <table *ngIf="!isGettingHostels && hostels" class="not-mobile">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Capacity</th>
                      <th>Type</th>
                      <th>Students</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let hostel of hostels">
                      <td>{{hostel.name | titlecase}}</td>
                      <td>{{hostel.capacity | number}}</td>
                      <td>{{hostel.type | titlecase}}</td>
                      <td>{{hostel.occupants | number}}</td>
                      <td class="danger" (click)="deleteHostel(hostel.id)">Delete</td>
                    </tr>
                  </tbody>
                </table>
                <table *ngIf="!isGettingHostels && hostels" class="mobile-only">
                  <tbody>
                    <tr *ngFor="let hostel of hostels">
                      <div>
                        <span>Name</span>
                        <span>{{hostel.name | titlecase}}</span>
                      </div>
                      <div>
                        <span>Capacity</span>
                        <span>{{hostel.capacity | number}}</span>
                      </div>
                      <div>
                        <span>Type</span>
                        <span>{{hostel.type | titlecase}}</span>
                      </div>
                      <div>
                        <span>Students</span>
                        <span>{{hostel.occupants | number}}</span>
                      </div>
                      <div>
                        <span>Action</span>
                        <span class="danger" style="color: red;cursor: pointer;" class="bold"
                          (click)="deleteHostel(hostel.id)">Delete</span>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div data-revealId="add-students" appPermitted [table]="'student_hostel'" [operation]="'create'">
                <form #loadStudentsForm="ngForm" (ngSubmit)="loadStudents(loadStudentsForm.value)" ngNativeValidate>
                  <span>Add students to hostel</span>
                  <div class="inputs">
                    <fieldset>
                      <label for="hostel">Hostel</label>
                      <select name="hostel" id="hostel" required ngModel>
                        <option [value]="hostel.id" *ngFor="let hostel of hostels">{{hostel.name | titlecase}}</option>
                      </select>
                    </fieldset>
                    <fieldset>
                      <label for="class">Load students from</label>
                      <select name="class" id="class" required ngModel (change)="getClassStreams($event.target.value)">
                        <option [value]="class.id" *ngFor="let class of classes">Form {{class.level}}</option>
                      </select>
                    </fieldset>
                    <fieldset>
                      <label for="stream">Stream</label>
                      <select name="stream" id="stream" ngModel required>
                        <option [value]="stream.id" *ngFor="let stream of classStreams">{{stream.name}}</option>
                      </select>
                    </fieldset>
                    <fieldset>
                      <label for="" style="color: transparent;">.</label>
                      <button class="btn btn--blue" [disabled]="isGettingStudentsToAdd">Load Students</button>
                    </fieldset>
                  </div>
                </form>
                <app-loader *ngIf="isGettingStudentsToAdd"></app-loader>
                <form *ngIf="loadedStudents" #addForm="ngForm" (ngSubmit)="addStudents(addForm.value)">
                  <span>(Found <b>{{loadedStudents.length}}</b> students).Only students who are not already in the
                    hostel are shown.</span>
                  <table *ngIf="!isGettingStudentsToAdd && loadedStudents" style="margin-top: 25px; min-width: 80%;">
                    <thead>
                      <tr>
                        <th>Adm No.</th>
                        <th>Name</th>
                        <th class="not-mobile">Gender</th>
                        <th>Add?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let studentToAdd of loadedStudents">
                        <td>{{studentToAdd.adm}}</td>
                        <td>{{studentToAdd.name}}</td>
                        <td class="not-mobile">{{studentToAdd.gender}}</td>
                        <td><input type="checkbox" [name]="'_'+studentToAdd.adm" [id]="'_'+studentToAdd.adm"
                            (change)="addStateChange($event, studentToAdd.id)"></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="submit" *ngIf="studentsToAdd.length > 0">
                    <fieldset>
                      <button class="btn btn--blue" [disabled]="isAddingToHostel">Add {{studentsToAdd.length | number}}
                        students</button>
                      <app-loader *ngIf="isAddingToHostel"></app-loader>
                    </fieldset>
                  </div>
                </form>
              </div>
              <div data-revealId="view-students">
                <form #viewForm="ngForm" (ngSubmit)="viewStudents(viewForm.value)" ngNativeValidate>
                  <span></span>
                  <div class="inputs">
                    <fieldset>
                      <label for="hostel">Hostel</label>
                      <select name="hostel" id="hostel" required ngModel>
                        <option [value]="hostel.id" *ngFor="let hostel of hostels">{{hostel.name | titlecase}}</option>
                      </select>
                    </fieldset>
                    <fieldset>
                      <label for="" style="color: transparent;">.</label>
                      <button class="btn btn--blue" [disabled]="isGettingHostelStudents">View Students</button>
                      <app-loader *ngIf="isGettingHostelStudents"></app-loader>
                    </fieldset>
                  </div>
                </form>
                <table *ngIf="hostelStudents" class="not-mobile">
                  <thead>
                    <tr>
                      <th>Adm</th>
                      <th>Name</th>
                      <th>Gender</th>
                      <th>Hostel</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let hostelStudent of hostelStudents">
                      <td>{{hostelStudent.adm}}</td>
                      <td>{{hostelStudent.student}}</td>
                      <td>{{hostelStudent.gender}}</td>
                      <td>{{hostelStudent.hostel}}</td>
                      <td class="danger" (click)="removeStudent(hostelStudent.id)">Remove</td>
                    </tr>
                  </tbody>
                </table>
                <table *ngIf="hostelStudents" class="mobile-only">
                  <tbody>
                    <tr *ngFor="let hostelStudent of hostelStudents">
                      <div>
                        <span>Adm No.</span>
                        <span>{{hostelStudent.adm}}</span>
                      </div>
                      <div>
                        <span>Name</span>
                        <span>{{hostelStudent.student}}</span>
                      </div>
                      <div>
                        <span>Gender</span>
                        <span>{{hostelStudent.gender}}</span>
                      </div>
                      <div>
                        <span>Hostel</span>
                        <span>{{hostelStudent.hostel}}</span>
                      </div>
                      <div>
                        <span>Action</span>
                        <span class="danger" (click)="removeStudent(hostelStudent.id)"
                          style="color: red;cursor: pointer;" class="bold">Remove</span>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-portal>