<form #bulkForm="ngForm" enctype="multipart/form-data">
    <div class="form-title">
        <span class="form-heading">Import students from file</span>
        <span>Do not change the format of the template</span>
    </div>
    <fieldset style="flex-basis: 100%;">
        <p><a href="assets/student-template.xlsx" download>Download template</a> then fill the file and
            upload it here.</p>
    </fieldset>
    <fieldset>
        <label for="template">Select filled template file</label>
        <input type="file" name="template" id="template" required ngModel accept=".xlsx"
            (change)="processUploadedTemplate($event.target)">
    </fieldset>
    <app-loader *ngIf="processingFile || isLoading"></app-loader>
    <fieldset>
        <button class="btn btn--primary" *ngIf="students && students.length > 0" (click)="onAdd()">Add
            {{students.length}} students</button>
    </fieldset>
</form>
<table *ngIf="students">
    <thead>
        <tr>
            <th>Adm</th>
            <th>First name</th>
            <th>Middle name</th>
            <th>Last name</th>
            <th>Admitted</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>County</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of students">
            <td data-label="Adm">{{s.adm | uppercase}}</td>
            <td data-label="First name">{{s.fname | titlecase}}</td>
            <td data-label="Middle name">{{s.mname | titlecase}}</td>
            <td data-label="Last name">{{s.lname | titlecase}}</td>
            <td data-label="Admitted">{{s.admitted | date}}</td>
            <td data-label="Gender">{{s.gender | titlecase}}</td>
            <td data-label="Date of Birth">{{s.dob | date}}</td>
            <td data-label="County">{{s.county | titlecase}}</td>
        </tr>
    </tbody>
</table>