<form *ngIf="action === 'delete'">
    <fieldset>
        <label for="from">Delete from</label>
        <select name="from" id="from" ngModel (change)="onTypeChange($event.target.value)">
            <option value="active">Active employees</option>
            <option value="retired">Retired employees</option>
            <option value="transfered">Transfered employees</option>
        </select>
    </fieldset>
</form>
<form *ngIf="action === 'restore'">
    <fieldset>
        <label for="from">Restore from</label>
        <select name="from" id="from" ngModel (change)="onTypeChange($event.target.value)">
            <option value="retired">Retired employees</option>
            <option value="transfered">Transfered employees</option>
        </select>
    </fieldset>
</form>
<app-paginator [total]="total" [sorts]="colums" [shown]="employees?.length" (output)="onOptions($event)">
</app-paginator>
<p class="info" *ngIf="employees && employees.length === 0">No results found</p>
<app-loader *ngIf="isLoading"></app-loader>
<table *ngIf="employees && employees?.length > 0">
    <thead>
        <tr>
            <th>Emp No.</th>
            <th>First name</th>
            <th>Last name</th>
            <th>ID No.</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of employees">
            <td data-label="Emp No.">{{e.empNo}}</td>
            <td data-label="First name">{{e.fname}}</td>
            <td data-label="Last name">{{e.lname}}</td>
            <td data-label="ID No.">{{e.idNo}}</td>
            <td data-label="Gender">{{e.gender}}</td>
            <td>
                <button class="btn" [ngClass]="{'btn--primary': selectedEmployees.includes(e.id)}" (click)="check(e)">
                    <i class="fa fa-check"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<form *ngIf="selectedEmployees.length > 0">
    <div class="form-title">
        <span class="form-heading">{{action}} employees</span>
        <span>Please take these actions with caution.</span>
    </div>
    <fieldset>
        <button class="btn btn--primary" [disabled]="isCommiting" (click)="commit()">{{action | titlecase}}
            {{selectedEmployees.length | number}} employees</button>
    </fieldset>
</form>