<app-loader *ngIf="isLoading"></app-loader>
<table class="stat-table" *ngIf="!isLoading">
  <caption>Fees & Payments</caption>
  <tbody>
    <tr appColorize>
      <td>Total payments made</td>
      <td>{{total | number}}</td>
    </tr>
    <tr appColorize>
      <td>Today's total</td>
      <td>{{ today | currency: 'KES ' }}</td>
    </tr>
    <tr appColorize>
      <td>This week's total</td>
      <td>{{ week | currency: 'KES ' }}</td>
    </tr>
    <tr appColorize>
      <td>This month's total</td>
      <td>{{ month | currency: 'KES ' }}</td>
    </tr>
    <tr appColorize>
      <td>This year's total</td>
      <td>{{ year | currency: 'KES ' }}</td>
    </tr>
    <tr appColorize>
      <td>Average payment</td>
      <td>{{ average | currency: 'KES ' }}</td>
    </tr>
    <tr appColorize>
      <td>Highest payment</td>
      <td>{{ outlierMax | currency: 'KES ' }}</td>
    </tr>
    <tr appColorize>
      <td>Lowest payment</td>
      <td>{{ outlierMin | currency: 'KES ' }}</td>
    </tr>
  </tbody>
</table>