<form>
    <fieldset>
        <label for="stream">Select stream</label>
        <select name="stream" id="stream" ngModel (change)="onStreamChange($event.target.value)">
            <option [value]="s.id" *ngFor="let s of streams">Form {{s.level}} {{s.name}}</option>
        </select>
    </fieldset>
</form>
<app-paginator *ngIf="balances" [total]="total" [sorts]="sorts" [shown]="balances?.length" (output)="onOptions($event)">
</app-paginator>
<p class="info" *ngIf="balances && balances.length === 0">No items to show</p>
<app-loader *ngIf="isLoading"></app-loader>
<table *ngIf="balances?.length > 0">
    <thead>
        <tr>
            <th>Adm</th>
            <th>Name</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of balances">
            <td data-label="Adm">{{b.adm | uppercase}}</td>
            <td data-label="Name">{{b.name | titlecase}}</td>
            <td data-label="Credit">{{b.credit | currency: 'KShs. '}}</td>
            <td data-label="Debit">{{b.debit | currency: 'Kshs. '}}</td>
            <td data-label="Balance">{{b.balance | currency: 'Kshs. '}}</td>
        </tr>
    </tbody>
</table>