<div class="pagination">
  <form>
    <span>Configure search</span>
    <div id="search">
      <input type="search" autocomplete="off" placeholder="Enter keyword to search" name="search"
        (change)="onSearch($event.target.value)">
      <button class="btn btn--blue">Search</button>
      <span><strong>{{total | number}}</strong> results found.</span>
    </div>
    <div id="config">
      <div id="sizing">
        <select name="size" id="size" (change)="onPageSizeChange($event.target.value)" [ngModel]="size">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
          <option value="80">80</option>
          <option value="100">100</option>
          <option value="150">150</option>
          <option value="200">200</option>
        </select>
        <label for="size">items per page</label>
      </div>
      <div class="button-box">
        <button [disabled]="firstPage()" class="btn btn--blue" (click)="prev()">Prev</button>
      </div>
      <div id="paging">
        <label for="page">Showing page </label>
        <select name="page" id="page" [ngModel]="page" (change)="onPageChange($event.target.value)">
          <option [value]="page" *ngFor="let page of pages">Page {{page}}</option>
        </select>
        <label for="page">of <strong>{{pages?.length | number}}</strong></label>
      </div>
      <div class="button-box">
        <button [disabled]="lastPage()" class="btn btn--blue" (click)="next()">Next</button>
      </div>
    </div>
    <div id="sorting">
      <label for="sortBy">Sort by</label>
      <select name="sortBy" id="sortBy" [ngModel]="sortBy" (change)="onSortByChange($event.target.value)">
        <option [value]="sort" *ngFor="let sort of sorts">{{sort | titlecase}}</option>
      </select>
      <label for="sort">Sort</label>
      <select name="sort" [ngModel]="sort" id="sort" (change)="onSortChange($event.target.value)">
        <option value="1">Asc</option>
        <option value="-1">Desc</option>
      </select>
    </div>
  </form>
</div>