@media all and (min-width: 1050px) {
    form {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
    
        & > div {
            width: 100%;
            margin: auto 0;
        }
    }
    
    select {
        width: auto;
    }
    
    #config {
        display: flex;
        flex-direction: row;
        height: 50px;
    
        & > div {
            flex: 1 1 auto;
        }
    }
    
    .button-box {
        display: flex;
        flex-direction: column;
        button {
            margin: auto 0;
            width: auto;
        }
    }
    
    #sizing {
        display: flex;
        
        & > * {
            margin: auto 1px;
        }
    }
    
    #search {
        display: flex;
        
        & > * {
            margin: 0 10px;
            flex-basis: 45%;
        }
    }
    
    #paging, #sorting {
        text-align: center;
        margin: auto 0;
    
        & > * {
            margin: 0 4px;
        }
    }
}

@media all and (max-width: 1050px) and (min-width: 500px) {
    #search {
        display: flex;
        flex-wrap: wrap;
        input {
            max-width: 73% !important;
        }
        .btn {
            width: 25%;
        }
        span {
            flex-basis: 100%;
            margin: 10px 0;
        }
    }
    #config {
        display: flex;

        #paging, #sizing {
            label {
                display: none;
            }
        }

        & > * {
            flex: 1 1 auto;
        }
    }

    #sorting {
        display: flex;
        margin-top: 10px;
        align-items: center;
        label {
            text-align: right;
        }

        & > * {
            flex: 1 1 25%;
            white-space: nowrap;
        }
    }
}
 
 @media all and (max-width: 500px) {
    #search {
        display: flex;
        flex-direction: row;

        input {
            flex-basis: 70% !important;
        }

        button {
            flex-basis: 30%;
        }
    }
 }