<app-portal>
  <ng-container class="render">
    <div class="tabs">
      <ol class="tabs__links">
        <li data-revealId="new" data-default="true" appTabView appPermitted [table]="'sms'" [operation]="'create'">New
          SMS</li>
        <li data-revealId="previous" appTabView (click)="getMessages()" appPermitted [table]="'sms'"
          [operation]="'select'">Previous SMS</li>
      </ol>
      <div class="tabs__content">
        <div data-revealId="new" appPermitted [table]="'sms'" [operation]="'create'">
          <form #smsForm="ngForm" (ngSubmit)="sendSMS(smsForm.value)" ngNativeValidate>
            <span>Create Message</span>
            <div class="input">
              <fieldset>
                <label for="cat">Category</label>
                <select name="cat" id="cat" required ngModel #catSelect>
                  <option value="Custom">Custom</option>
                  <option value="Teachers">Teachers</option>
                  <option value="Employees">Employees</option>
                  <option value="Parents">Parents</option>
                  <option value="Students">Students</option>
                </select>
              </fieldset>
            </div>
            <div class="input" *ngIf="catSelect.value === 'Custom'">
              <fieldset>
                <label for="recipients">Recipients <strong>(Enter phone numbers separated by a comma
                    (,))</strong></label>
                <textarea name="recipients" id="recipients" ngModel required
                  placeholder="0712345678,0709876543,0713674811" (keypress)="checkPressed($event)"
                  (blur)="checkNumbers($event.target)" autocomplete="off"></textarea>
              </fieldset>
            </div>
            <div class="input">
              <p *ngIf="disableMessage" class="danger">Invalid phone numbers detected. Please correct the errors.</p>
            </div>
            <div class="input" *ngIf="catSelect.value !== ''">
              <fieldset>
                <label for="message">Message <strong>(Avoid long messages)</strong>
                  <strong class="blue" *ngIf="characters > 0"> ( {{characters}} characters ({{pages}} pages of a
                    message) )</strong></label>
                <textarea name="message" id="message" ngModel required minlength="1" (keyup)="measureMessage($event)"
                  #msg [disabled]="disableMessage"></textarea>
              </fieldset>
            </div>
            <div class="input" *ngIf="catSelect.value === 'Parents'">
              <fieldset>
                <label for="group">Group</label>
                <select name="group" id="group" required ngModel>
                  <option value="All">All</option>
                  <option [value]="class.id" *ngFor="let class of classes">Form {{class.level}} - Parents</option>
                </select>
              </fieldset>
            </div>
            <div class="input" *ngIf="catSelect.value === 'Students'">
              <fieldset>
                <label for="group">Group</label>
                <select name="group" id="group" required ngModel>
                  <option value="All">All</option>
                  <option [value]="class.id" *ngFor="let class of classes">Form {{class.level}} - Students</option>
                </select>
              </fieldset>
            </div>
            <div class="submit">
              <fieldset>
                <button class="btn btn--blue" [disabled]="disableMessage || isSendingSMS">Send</button>
                <app-loader *ngIf="isSendingSMS"></app-loader>
              </fieldset>
            </div>
          </form>
        </div>
        <div data-revealId="previous" appPermitted [table]="'sms'" [operation]="'select'">
          <app-normal-pagination [total]="total" [sorts]="['id','message','sent','recipients']"
            (options)="onPaginationChange($event)"></app-normal-pagination>
          <app-loader *ngIf="isGettingSms"></app-loader>
          <table *ngIf="!isGettingSms && messages">
            <thead>
              <tr>
                <th>Message</th>
                <th>Sent</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let message of messages">
                <td style="white-space: normal;">{{message.message}}</td>
                <td>{{message.sent}}</td>
                <td>{{message.recipients | number}} recipients</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</app-portal>