<header>
    <div class="mobile tablet ipad" id="toggler">
        <i class="mobile ipad tablet fa fa-bars" (click)="toggleMenu()" *ngIf="!menuShown"></i>
        <i class="mobile ipad tablet fa fa-close" (click)="toggleMenu()" *ngIf="menuShown"></i>
    </div>
    <div id="user">
        <div>
            <div>
                <i class="fa fa-user"></i>
                <span>{{user.name | titlecase}}</span>
            </div>
            <span class="desktop">({{user.title | titlecase}})</span>
        </div>
        <div>
            <i class="fa fa-sign-out"></i>
            <span (click)="logout()">Logout</span>
        </div>
    </div>
    <div class="desktop tablet ipad" id="school">
        <img src="assets/logo.png" alt="Logo" class="desktop tablet ipad">
        <div class="desktop tablet ipad">
            <span>St. Nebuchadnezzer Secondary School</span>
        </div>
    </div>
</header>
<nav *ngIf="menuShown">
    <div>
        <a routerLink="/dashboard" title="Home">
            <img src="../../../assets/icons/home.svg" alt="Home">
            <span>Home</span>
        </a>
    </div>
    <div>
        <a routerLink="/students/x/y" title="Students">
            <img src="../../../assets/icons/school.svg" alt="Students">
            <span>Students</span>
        </a>
    </div>
    <div>
        <a routerLink="/attendance/x/y" title="Attendance">
            <img src="../../../assets/icons/tick.svg" alt="Attendance">
            <span>Attendance</span>
        </a>
    </div>
    <div>
        <a routerLink="/teachers/x/y" title="Teachers">
            <img src="../../../assets/icons/user-group.svg" alt="Teachers">
            <span>Teachers</span>
        </a>
    </div>
    <div>
        <a routerLink="/classes/x/y" title="Classes">
            <img src="../../../assets/icons/folder.svg" alt="Classes">
            <span>Classes</span>
        </a>
    </div>
    <div>
        <a routerLink="/subjects/x/y" title="Subjects">
            <img src="../../../assets/icons/book.svg" alt="Subjects">
            <span>Subjects</span>
        </a>
    </div>
    <div>
        <a routerLink="/fees/x/y" title="Fees">
            <img src="../../../assets/icons/coins.svg" alt="Fees">
            <span>Fees</span>
        </a>
    </div>
    <div>
        <a routerLink="/payments/x/y" title="Payments">
            <img src="../../../assets/icons/money.svg" alt="Payments">
            <span>Payments</span>
        </a>
    </div>
    <div>
        <a routerLink="/exams/x/y" title="Exams">
            <img src="../../../assets/icons/paper.svg" alt="Exams">
            <span>Exams</span>
        </a>
    </div>
    <div>
        <a routerLink="/hostels/x/y" title="Hostels">
            <img src="../../../assets/icons/folder-closed.svg" alt="Hostels">
            <span>Hostels</span>
        </a>
    </div>
    <div>
        <a routerLink="/employees/x/y" title="Employees">
            <img src="../../../assets/icons/group.svg" alt="Employees">
            <span>Employees</span>
        </a>
    </div>
    <div>
        <a routerLink="/users/x/y" title="Users">
            <img src="../../../assets/icons/user.svg" alt="Users">
            <span>Users</span>
        </a>
    </div>
    <div>
        <a routerLink="/sms/x/y" title="SMS">
            <img src="../../../assets/icons/chat.svg" alt="SMS">
            <span>SMS</span>
        </a>
    </div>
    <div>
        <a routerLink="/setup/x/y" title="Setup">
            <img src="../../../assets/icons/calendar.svg" alt="Setup">
            <span>Setup</span>
        </a>
    </div>
</nav>
<main>
    <ng-content selector=".page-content"></ng-content>
</main>