<header>
    <div class="mobile tablet ipad" id="toggler">
        <i class="mobile ipad tablet fa fa-bars" (click)="toggleMenu()" *ngIf="!menuShown"></i>
        <i class="mobile ipad tablet fa fa-close" (click)="toggleMenu()" *ngIf="menuShown"></i>
    </div>
    <div id="user">
        <div>
            <div>
                <i class="fa fa-user"></i>
                <span>{{user.name | titlecase}}</span>
            </div>
            <span class="desktop">({{user.title | titlecase}})</span>
        </div>
        <div>
            <i class="fa fa-sign-out"></i>
            <span (click)="logout()">Logout</span>
        </div>
    </div>
    <div class="desktop tablet ipad" id="school">
        <img src="assets/logo.png" alt="Logo" class="desktop tablet ipad">
        <div class="desktop tablet ipad">
            <span>St. Nebuchadnezzer Secondary School</span>
        </div>
    </div>
</header>
<nav *ngIf="menuShown">
    <div>
        <a routerLink="/dashboard" title="Home" [ngClass]="{'active-module': isActiveMenu('/dashboard')}">
            <img src="assets/icons/home.svg" alt="Home">
            <span>Home</span>
        </a>
    </div>
    <div>
        <a routerLink="/students/view/active" title="Students" [ngClass]="{'active-module': isActiveMenu('/students')}">
            <img src="assets/icons/school.svg" alt="Students">
            <span>Students</span>
        </a>
    </div>
    <div>
        <a routerLink="/attendance/mark/stream" title="Attendance" [ngClass]="{'active-module': isActiveMenu('/attendance')}">
            <img src="assets/icons/tick.svg" alt="Attendance">
            <span>Attendance</span>
        </a>
    </div>
    <div>
        <a routerLink="/teachers/view/active" title="Teachers" [ngClass]="{'active-module': isActiveMenu('/teachers')}">
            <img src="assets/icons/user-group.svg" alt="Teachers">
            <span>Teachers</span>
        </a>
    </div>
    <div>
        <a routerLink="/classes/view/classes" title="Classes" [ngClass]="{'active-module': isActiveMenu('/classes')}">
            <img src="assets/icons/folder.svg" alt="Classes">
            <span>Classes</span>
        </a>
    </div>
    <div>
        <a routerLink="/subjects/view/list" title="Subjects" [ngClass]="{'active-module': isActiveMenu('/subjects')}">
            <img src="assets/icons/book.svg" alt="Subjects">
            <span>Subjects</span>
        </a>
    </div>
    <div>
        <a routerLink="/fees/view/stream" title="Fees" [ngClass]="{'active-module': isActiveMenu('/fees')}">
            <img src="assets/icons/coins.svg" alt="Fees">
            <span>Fees</span>
        </a>
    </div>
    <div>
        <a routerLink="/payments/bank-slip/new" title="Payments" [ngClass]="{'active-module': isActiveMenu('/payments')}">
            <img src="assets/icons/money.svg" alt="Payments">
            <span>Payments</span>
        </a>
    </div>
    <div>
        <a routerLink="/exams/view/all" title="Exams" [ngClass]="{'active-module': isActiveMenu('/exams')}">
            <img src="assets/icons/paper.svg" alt="Exams">
            <span>Exams</span>
        </a>
    </div>
    <div>
        <a routerLink="/hostels/view/list" title="Hostels" [ngClass]="{'active-module': isActiveMenu('/hostels')}">
            <img src="assets/icons/folder-closed.svg" alt="Hostels">
            <span>Hostels</span>
        </a>
    </div>
    <div>
        <a routerLink="/employees/view/active" title="Employees" [ngClass]="{'active-module': isActiveMenu('/employees')}">
            <img src="assets/icons/group.svg" alt="Employees">
            <span>Employees</span>
        </a>
    </div>
    <div>
        <a routerLink="/users/view/users" title="Users" [ngClass]="{'active-module': isActiveMenu('/users')}">
            <img src="assets/icons/user.svg" alt="Users">
            <span>Users</span>
        </a>
    </div>
    <div>
        <a routerLink="/sms/add/single" title="SMS" [ngClass]="{'active-module': isActiveMenu('/sms')}">
            <img src="assets/icons/chat.svg" alt="SMS">
            <span>SMS</span>
        </a>
    </div>
    <div>
        <a routerLink="/setup/view/list" title="Setup" [ngClass]="{'active-module': isActiveMenu('/setup')}">
            <img src="assets/icons/calendar.svg" alt="Setup">
            <span>Setup</span>
        </a>
    </div>
</nav>
<main>
    <ng-content selector=".page-content"></ng-content>
</main>