main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
}
input {
    font-size: 16px;
    height: 35px;
}
button {
    width: 100%;
    font-size: 20px;
}
label {
    font-size: 20px;
}
#login {
   padding: 0;

   & > span {
       padding: 10px;
       font-size: 22px;
       color: #fff;
       font-weight: 500;
       text-align: left;
       background-color: #06495e;
       text-transform: uppercase;
   }

   & > section {
       padding: 10px 15px 20px 15px;
   }
}

@media all and (min-width: 1050px) {
    #login {
        width: 50vw;
    }
}

@media all and (max-width: 1050px) and (min-width: 500px) {
    #login {
        width: 80vw;
    }
}
 
 @media all and (max-width: 500px) {
    #login {
        height: 100vh;
        margin: 0;
    }
 }