<main>
  <form id="login" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" *ngIf="!changePassword" ngNativeValidate>
    <h1>My School</h1>
    <img src="favicon.ico" alt="Logo">
    <span>Login</span>
    <div class="input">
      <fieldset>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" ngModel required autocomplete="off" (focus)="removeError()">
      </fieldset>
    </div>
    <div class="input">
      <fieldset>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ngModel required (focus)="removeError()">
      </fieldset>
    </div>
    <div class="input">
      <fieldset *ngIf="invalid">
        <label class="danger">Invalid username or password</label>
      </fieldset>
    </div>
    <div class="submit">
      <fieldset>
        <button class="btn btn--blue" [disabled]="isLoggingIn">Login</button>
        <app-loader *ngIf="isLoggingIn"></app-loader>
      </fieldset>
    </div>
  </form>
  <form *ngIf="changePassword" id="login" #changePassForm="ngForm" (ngSubmit)="onChangePassword(changePassForm.value)"
    ngNativeValidate>
    <div class="input">
      <fieldset>
        <label for="password">New password</label>
        <input type="password" name="password" id="password" ngModel required
          (keyup)="checkNewPassword($event.target.value)" #passField>
      </fieldset>
    </div>
    <div class="input">
      <fieldset>
        <label for="confirm">Confirm new password</label>
        <input type="password" name="confirm" id="confirm" ngModel required
          (keyup)="onConfirming($event.target.value, passField.value)">
      </fieldset>
    </div>
    <fieldset *ngIf="passwordProblems">
      <label class="danger">{{message}}</label>
    </fieldset>
    <div class="submit">
      <fieldset>
        <button class="btn btn--blue" [disabled]="isChangingPassword || passwordProblems">Change password</button>
        <app-loader *ngIf="isChangingPassword"></app-loader>
      </fieldset>
    </div>
  </form>
</main>