<app-loader *ngIf="isLoading"></app-loader>
<p class="info" *ngIf="groups && groups.length === 0">No group found</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Tables</th>
            <th>Users</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let g of groups" class="clickable" (click)="viewGroup($event.target.nodeName, g)">
            <td>{{g.name | titlecase}}</td>
            <td>{{g.tables.length}}</td>
            <td>{{g.users}}</td>
            <td><i class="fa fa-trash action-icon action-icon--danger" (click)="delete(g.id)"></i></td>
        </tr>
    </tbody>
</table>