<h4>{{title | titlecase}}</h4>
<app-paginator [total]="total" (output)="onOptionsChange($event)"
    [sorts]="(method === 'suspended' || method === 'leave') ? statusColumns : columns" [shown]="students?.length">
</app-paginator>
<app-loader *ngIf="isLoading"></app-loader>
<p class="info" *ngIf="students && students.length === 0">No results found</p>
<app-table [headers]="columns" [rows]="students" (rowClicked)="onStudentClicked($event)"
    *ngIf="(students && students.length > 0) && (method === 'active' || method === 'archived' || method === 'expelled')">
</app-table>
<app-table [headers]="statusColumns" [rows]="students" (rowClicked)="onStudentClicked($event)"
    *ngIf="(students && students.length > 0) && (method === 'suspended' || method === 'leave')"></app-table>