<app-portal>
  <ng-container class="render">
    <div>
      <button class="btn btn--blue" (click)="back()">Back</button>
      <span class="item-title">{{cheque?.no | uppercase}} - <span>{{cheque?.bank | titlecase}}</span></span>
    </div>
    <div class="tabs tabs--vertical">
      <ol class="tabs__links tabs__links--vertical">
        <li data-revealId="details" data-default="true" appTabView>Details</li>
        <li data-revealId="update" appTabView appPermitted [table]="'cheque'" [operation]="'update'">Update details</li>
        <li data-revealId="add-beneficiaries" appTabView appPermitted [table]="'cheque_beneficiary'"
          [operation]="'create'">Add beneficiaries</li>
        <li data-revealId="view-beneficiaries" appTabView appPermitted [table]="'cheque_beneficiary'"
          [operation]="'select'" (click)="getBeneficiaries()">View beneficiaries</li>
        <li data-revealId="print-beneficiaries" appTabView appPermitted [table]="'cheque_beneficiary'"
          [operation]="'select'" (click)="printBeneficiaries()">Print beneficiaries</li>
        <li data-revealId="danger" appTabView appPermitted [table]="'cheque'" [operation]="'delete'">Danger zone</li>
      </ol>
      <div class="tabs__content tabs__content--vertical">
        <div data-revealId="details">
          <app-loader *ngIf="isGettingDetails"></app-loader>
          <table class="details-table" *ngIf="!isGettingDetails">
            <tbody>
              <tr>
                <td>Cheque no</td>
                <td>{{cheque?.no | uppercase}}</td>
              </tr>
              <tr>
                <td>Bank name</td>
                <td>{{cheque?.bank | titlecase}}</td>
              </tr>
              <tr>
                <td>Amount</td>
                <td>{{cheque?.amount | currency: 'Kshs. '}}</td>
              </tr>
              <tr>
                <td>Beneficiaries</td>
                <td>{{cheque?.beneficiaries | number}}</td>
              </tr>
              <tr>
                <td>Amount used</td>
                <td>{{cheque?.used | currency: 'Kshs. '}}</td>
              </tr>
              <tr>
                <td>Amount unused</td>
                <td>{{cheque?.unused | currency: 'Kshs. '}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="update" appPermitted [table]="'cheque'" [operation]="'update'">
          <form #chequeForm="ngForm" (ngSubmit)="updateCheque(chequeForm.value)" ngNativeValidate>
            <span>Update cheque details</span>
            <div class="input">
              <fieldset>
                <label for="no">Cheque number</label>
                <input type="text" name="no" id="no" required [ngModel]="cheque?.no" autocomplete="off">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="amount">Amount</label>
                <input type="number" name="amount" id="amount" required [ngModel]="cheque?.amount" autocomplete="off">
              </fieldset>
            </div>
            <div>
              <fieldset>
                <label for="bank">Bank name</label>
                <input type="text" name="bank" id="bank" required [ngModel]="cheque?.bank" autocomplete="off">
              </fieldset>
            </div>
            <div class="submit">
              <fieldset>
                <button class="btn btn--blue" [disabled]="isSavingCheque || chequeForm.pristine">Save</button>
                <app-loader *ngIf="isSavingCheque"></app-loader>
              </fieldset>
            </div>
          </form>
        </div>
        <div data-revealId="add-beneficiaries" appPermitted [table]="'cheque_beneficiary'" [operation]="'create'">
          <form #beneForm="ngForm" (ngSubmit)="previewBeneficiaries(beneForm.value)" ngNativeValidate>
            <span>Add beneficiaries</span>
            <p class="danger" *ngIf="cheque?.amount === cheque?.used">There is no balance left to distribute.</p>
            <div class="input">
              <fieldset>
                <label for="adms">Enter admission numbers of beneficiaries separated by a comma(,)</label>
                <textarea name="adms" id="adms" ngModel required placeholder="123,456,789,..."></textarea>
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="sharing">How is the amount shared?</label>
                <div>
                  <div *ngIf="cheque?.used === 0 || cheque?.used === null">
                    <input type="radio" name="sharing" id="sharing_e" ngModel required value="Equal"
                      (change)="changeShareMode(true)">
                    <label for="sharing_e">Share equally.</label>
                  </div>
                  <div>
                    <input type="radio" name="sharing" id="sharing_u" ngModel required value="Unequal"
                      [checked]="cheque?.used > 0" (change)="changeShareMode(false)">
                    <label for="sharing_u">I will enter amounts.</label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="submit">
              <fieldset>
                <button class="btn btn--blue"
                  [disabled]="isGettingPreview || (cheque?.amount === cheque?.used)">Preview</button>
                <app-loader *ngIf="isGettingPreview"></app-loader>
              </fieldset>
            </div>
          </form>
          <table *ngIf="previewResults">
            <thead>
              <tr>
                <th>Found</th>
                <th class="danger">Not Found({{previewResults.notFound.length}})</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{previewResults.found}}</td>
                <td class="danger">{{previewResults.notFound.join(',')}}</td>
              </tr>
            </tbody>
          </table>
          <form #conBen="ngForm" (ngSubmit)="addBeneficiaries(conBen.value)" ngNativeValidate *ngIf="previewStudents">
            <span></span>
            <table>
              <thead>
                <tr>
                  <th>Adm</th>
                  <th>Name</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of previewStudents">
                  <td>{{student.adm}}</td>
                  <td>{{student.name}}</td>
                  <td>
                    <input type="number" name="student_{{student.id}}" required min="1" [ngModel]="shareAmount"
                      [readonly]="equalShare" (change)="sumAmounts()" class="amount-to-subtract-or-award">
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p class="danger" *ngIf="exceeded">The distributed amount is higher than the cheque value</p>
                    <button class="btn btn--blue"
                      [disabled]="isSavingBeneficiaries || previewStudents.length === 0 || exceeded">Save
                      beneficiaries.</button>
                    <app-loader *ngIf="isSavingBeneficiaries"></app-loader>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div data-revealId="view-beneficiaries" appPermitted [table]="'cheque_beneficiary'" [operation]="'select'">
          <app-normal-pagination [total]="totalBeneficiaries" [sorts]="['adm','name', 'amount']"
            (options)="onPaginationChange($event)"></app-normal-pagination>
          <app-loader *ngIf="isGettingBeneficiaries"></app-loader>
          <table *ngIf="!isGettingBeneficiaries">
            <thead>
              <tr>
                <th>Adm</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ben of beneficiaries">
                <td>{{ben.adm}}</td>
                <td>{{ben.name}}</td>
                <td>{{ben.amount | currency: 'Kshs. '}}</td>
                <td class="danger" (click)="removeBeneficiary(ben.id)">Delete</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="print-beneficiaries" appPermitted [table]="'cheque_beneficiary'" [operation]="'select'">
          <iframe [src]="printBeneficiariesUrl" *ngIf="printBeneficiariesUrl" frameborder="0"></iframe>
        </div>
        <div data-revealId="danger" appPermitted [table]="'cheque'" [operation]="'delete'">
          <form>
            <span></span>
            <button class="btn btn--red" (click)="delete()">Delete Cheque?</button>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
</app-portal>