<app-portal>
    <ng-container class="page-content">
        <app-tab [links]="links" [default]="'/view'" [base]="'/hostels'" #tab>
            <ng-container class="tab-content">
                <div data-path="/add">
                    <div data-path="/new">
                        <app-add-hostel [title]="'Add hostel'"></app-add-hostel>
                    </div>
                </div>
                <div data-path="/view">
                    <div data-path="/list" *ngIf="tab.tab === 'view' && tab.subtab === 'list'">
                        <app-view-hostels></app-view-hostels>
                    </div>
                </div>
                <div data-path="/students">
                    <div data-path="/add" *ngIf="tab.tab === 'students' && tab.subtab === 'add'">
                        <app-add-hostel-students></app-add-hostel-students>
                    </div>
                    <div data-path="/view" *ngIf="tab.tab === 'students' && tab.subtab === 'view'">
                        <app-view-hostel-students></app-view-hostel-students>
                    </div>
                    <div data-path="/print" *ngIf="tab.tab === 'students' && tab.subtab === 'print'">
                        <app-print-hostel-students></app-print-hostel-students>
                    </div>
                </div>
            </ng-container>
        </app-tab>
    </ng-container>
</app-portal>