<app-portal>
  <ng-container class="render">
    <div>
      <button class="btn btn--blue" (click)="back()">Back</button>
      <span class="item-title">{{employee?.fname}} {{employee?.mname}} {{employee?.lname}} -
        <span>{{employee?.position}}</span></span>
    </div>
    <div class="tabs tabs--vertical">
      <ol class="tabs__links tabs__links--vertical">
        <li data-revealId="details" data-default="true" appTabView>Details</li>
        <li data-revealId="update" appTabView>Update details</li>
        <li data-revealId="salary" appTabView (click)="getSalary()">Salary</li>
        <li data-revealId="danger" appTabView>Danger zone</li>
      </ol>
      <div class="tabs__content tabs__content--vertical">
        <div data-revealId="details">
          <app-loader *ngIf="isGettingBasicDetails"></app-loader>
          <table class="details-table" *ngIf="!isGettingBasicDetails">
            <tbody>
              <tr>
                <td>Employee number</td>
                <td>{{employee.empNo}}</td>
              </tr>
              <tr>
                <td>ID Number</td>
                <td>{{employee.idNo}}</td>
              </tr>
              <tr>
                <td>Phone number</td>
                <td>{{employee.phone}}</td>
              </tr>
              <tr>
                <td>Email address</td>
                <td>{{employee.email | lowercase}}</td>
              </tr>
              <tr>
                <td>First name</td>
                <td>{{employee.fname | titlecase}}</td>
              </tr>
              <tr>
                <td>Middle name</td>
                <td>{{employee.mname | titlecase}}</td>
              </tr>
              <tr>
                <td>Last name</td>
                <td>{{employee.lname | titlecase}}</td>
              </tr>
              <tr>
                <td>Gender</td>
                <td>{{employee.gender | titlecase}}</td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td>{{employee.dob | date}}</td>
              </tr>
              <tr>
                <td>County</td>
                <td>{{employee.county | titlecase}}</td>
              </tr>
              <tr>
                <td>Category</td>
                <td>{{employee.category | titlecase}}</td>
              </tr>
              <tr>
                <td>Position</td>
                <td>{{employee.position | titlecase}}</td>
              </tr>
              <tr>
                <td>Date of appointment</td>
                <td>{{employee.joined | date}}</td>
              </tr>
              <tr>
                <td>Qualification</td>
                <td>{{employee.qualification | titlecase}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="update">
          <form #employeeForm="ngForm" (ngSubmit)="update(employeeForm)" ngNativeValidate>
            <span></span>
            <div class="inputs">
              <fieldset>
                <label for="empNo">Employee number</label>
                <input type="text" name="empNo" id="empNo" required [ngModel]="employee?.empNo" autocomplete="off">
              </fieldset>
              <fieldset>
                <label for="idNo">ID Number</label>
                <input type="text" name="idNo" id="idNo" required [ngModel]="employee?.idNo" autocomplete="off"
                  pattern="[0-9]{5,}">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="fname">First name</label>
                <input type="text" name="fname" id="fname" required [ngModel]="employee?.fname" autocomplete="off">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="mname">Middle name</label>
                <input type="text" name="mname" id="mname" [ngModel]="employee?.mname" autocomplete="off">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="lname">Last name</label>
                <input type="text" name="lname" id="lname" required [ngModel]="employee?.lname" autocomplete="off">
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset>
                <label for="gender">Gender</label>
                <div>
                  <div>
                    <input type="radio" name="gender" id="male" required [ngModel]="employee?.gender" value="Male">
                    <label for="male">Male</label>
                  </div>
                  <div>
                    <input type="radio" name="gender" id="female" required [ngModel]="employee?.gender" value="Female">
                    <label for="female">Female</label>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <label for="dob">Date of Birth</label>
                <input type="date" name="dob" id="dob" required [ngModel]="employee?.dob">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="county">County of Residence</label>
                <select name="county" id="county" required [ngModel]="employee?.county">
                  <option [value]="county" *ngFor="let county of counties">{{county}}</option>
                </select>
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset>
                <label for="joined">Date appointed</label>
                <input type="date" name="joined" id="joined" required [ngModel]="employee?.joined">
              </fieldset>
              <fieldset>
                <label for="category">Category</label>
                <div>
                  <div>
                    <input type="radio" name="category" id="teacher" required [ngModel]="employee?.category"
                      value="Teacher">
                    <label for="teacher">Teacher</label>
                  </div>
                  <div>
                    <input type="radio" name="category" id="other" required [ngModel]="employee?.category"
                      value="OTHER">
                    <label for="other">Other</label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset>
                <label for="position">Work title</label>
                <input type="text" name="position" id="position" required [ngModel]="employee?.position"
                  autocomplete="off">
              </fieldset>
              <fieldset>
                <label for="qualification">Academic qualification</label>
                <select name="qualification" id="qualification" required [ngModel]="employee?.qualification">
                  <option value="Certificate">Certificate</option>
                  <option value="Diploma">Diploma</option>
                  <option value="Degree">Degree</option>
                  <option value="Masters">Masters</option>
                  <option value="PhD">PhD</option>
                  <option value="Other">Other</option>
                </select>
              </fieldset>
            </div>
            <div class="inputs">
              <fieldset>
                <label for="phone">Phone number</label>
                <input type="tel" name="phone" id="phone" required [ngModel]="employee?.phone" autocomplete="off">
              </fieldset>
              <fieldset>
                <label for="email">Email address</label>
                <input type="email" name="email" id="email" required [ngModel]="employee?.email" autocomplete="off">
              </fieldset>
            </div>
            <div class="submit">
              <fieldset>
                <button class="btn btn--blue" [disabled]="isUpdatingEmployee">Save</button>
                <app-loader *ngIf="isUpdatingEmployee"></app-loader>
              </fieldset>
            </div>
          </form>
        </div>
        <div data-revealId="salary">
          <form #salaryForm="ngForm" (ngSubmit)="saveSalary(salaryForm)" ngNativeValidate>
            <span>Salary details</span>
            <div class="input">
              <fieldset>
                <label for="accNo">Bank account number</label>
                <input type="text" name="accNo" id="accNo" required [ngModel]="salary?.accNo" pattern="[0-9]{5,}"
                  autocomplete="off">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="bank">Bank name</label>
                <input type="text" name="bank" id="bank" required [ngModel]="salary?.bank" autocomplete="off">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="branch">Branch</label>
                <input type="text" name="branch" id="branch" required [ngModel]="salary?.branch" autocomplete="off">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="kra">KRA PIN</label>
                <input type="text" name="kra" id="kra" required [ngModel]="salary?.kra" autocomplete="off"
                  pattern="^A[0-9]{9}[A-Za-z]{1}">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="basic">Basic salary</label>
                <input type="number" name="basic" id="basic" required [ngModel]="salary?.basic" autocomplete="off">
              </fieldset>
            </div>
            <div class="submit">
              <fieldset>
                <button class="btn btn--blue" [disabled]="isSavingSalary">Save</button>
                <app-loader *ngIf="isSavingSalary"></app-loader>
              </fieldset>
            </div>
          </form>
        </div>
        <div data-revealId="danger">
          <form>
            <span>Actions you take here are irreversible.</span>
            <div class="submit">
              <button class="btn btn--red" [disabled]="isDeleting" (click)="delete(employee?.id)">Delete
                {{employee?.fname | titlecase}}
                {{employee?.lname | titlecase}}?</button>
              <app-loader *ngIf="isDeleting"></app-loader>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container class="insights">
    <app-employee-dash></app-employee-dash>
  </ng-container>
  <ng-container class="quick-actions"></ng-container>
</app-portal>