<form [formGroup]="userForm" (ngSubmit)="save(userForm.value)">
    <div class="form-title">
        <span class="form-heading">{{title}}</span>
        <span>All fields marked * must be completed</span>
    </div>
    <fieldset>
        <label for="name">Name*</label>
        <input type="text" name="name" id="name" formControlName="name" autocomplete="off">
    </fieldset>
    <fieldset>
        <label for="title">Title*</label>
        <input type="text" name="title" id="title" formControlName="title" autocomplete="off">
    </fieldset>
    <fieldset>
        <label for="username">Email*</label>
        <input type="text" name="username" id="username" formControlName="username" autocomplete="off">
    </fieldset>
    <fieldset *ngIf="userForm.controls.password">
        <label for="password">First login password*</label>
        <input type="password" name="password" id="password" formControlName="password" autocomplete="off">
    </fieldset>
    <fieldset>
        <label for="u_group">User group*</label>
        <select name="u_group" id="u_group" formControlName="u_group">
            <option [value]="g.id" *ngFor='let g of groups'>{{g.name | titlecase}}</option>
        </select>
    </fieldset>
    <fieldset>
        <button class="btn btn--primary" [disabled]="isLoading || userForm.invalid">Submit</button>
        <app-loader *ngIf="isLoading"></app-loader>
    </fieldset>
</form>