<form [formGroup]="userForm" (ngSubmit)="save(userForm.value)">
    <div class="form-title">
        <span class="form-heading">{{title}}</span>
        <span>All fields marked * must be completed</span>
    </div>
    <fieldset *ngIf="!data">
        <label for="empNo">Employee no.</label>
        <input type="text" name="empNo" id="empNo" formControlName="empNo" autocomplete="off">
    </fieldset>
    <fieldset>
        <label for="username">Email*</label>
        <input type="text" name="username" id="username" formControlName="username" autocomplete="off">
    </fieldset>
    <fieldset *ngIf="userForm.controls.password">
        <label for="password">First login password*</label>
        <input type="password" name="password" id="password" formControlName="password" autocomplete="off">
    </fieldset>
    <fieldset>
        <label for="type">User Type* <span class="danger">Be careful</span></label>
        <select name="type" id="type" formControlName="type">
            <option value="Teacher">Teacher</option>
            <option value="Registrar">Registrar/Admissions</option>
            <option value="Finance">Finance/Bursar</option>
            <option value="Admin">Admin</option>
        </select>
    </fieldset>
    <fieldset>
        <button class="btn btn--primary" [disabled]="isLoading || userForm.invalid">Submit</button>
        <app-loader *ngIf="isLoading"></app-loader>
    </fieldset>
</form>