<app-paginator [total]="total" [sorts]="columns" [shown]="payments?.length" (output)="onOptions($event)">
</app-paginator>
<app-loader *ngIf="isLoading"></app-loader>
<p class="info" *ngIf="payments && payments.length === 0">No payments found</p>
<table *ngIf="payments && payments.length > 0">
    <thead>
        <tr>
            <th>Receipt No.</th>
            <th>Adm</th>
            <th>Name</th>
            <th>Paid By</th>
            <th>Date paid</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of payments" class="clickable" (click)="viewPayment($event.target.nodeName, p)">
            <td>{{p.receiptNo | uppercase}}</td>
            <td>{{p.adm | uppercase}}</td>
            <td>{{p.name | titlecase}}</td>
            <td>{{p.paidBy | titlecase}}</td>
            <td>{{p.datePaid | date}}</td>
            <td>{{p.amount | currency: 'KShs. '}}</td>
            <td><i class="fa fa-trash action-icon action-icon--danger" (click)="delete($event.target.nodeName, p)"></i>
            </td>
        </tr>
    </tbody>
</table>