<app-loader *ngIf="isLoading"></app-loader>
<table class="stat-table" *ngIf="!isLoading">
  <caption>HR in numbers</caption>
  <tbody>
    <tr appColorize>
      <td>Total employees</td>
      <td>{{total | number}}</td>
    </tr>
    <tr *ngFor="let gender of genders" appColorize>
      <td>{{gender.gender}}</td>
      <td>{{gender.total | number}}</td>
    </tr>
    <tr appColorize>
      <td>Average age</td>
      <td>{{averageAge | number}}</td>
    </tr>
    <tr appColorize>
      <td>Total wage/salary</td>
      <td>{{wageBill | currency: 'KES '}}</td>
    </tr>
    <tr appColorize>
      <td>Average wage</td>
      <td>{{averageSalary | currency: 'KES '}}</td>
    </tr>
  </tbody>
</table>
<app-loader *ngIf="isLoading"></app-loader>
<table class="stat-table" *ngIf="!isLoading">
  <caption>Distribution by category</caption>
  <tbody>
    <tr *ngFor="let cat of categories" appColorize>
      <td>{{cat.category}}</td>
      <td>{{cat.total}}</td>
    </tr>
  </tbody>
</table>
<app-loader *ngIf="isLoading"></app-loader>
<table class="stat-table" *ngIf="!isLoading">
  <caption>Distribution by qualification</caption>
  <tbody>
    <tr *ngFor="let qual of qualifications" appColorize>
      <td>{{qual.qualification}}</td>
      <td>{{qual.total}}</td>
    </tr>
  </tbody>
</table>
<app-loader *ngIf="isLoading"></app-loader>
<table class="stat-table" *ngIf="!isLoading">
  <caption>Top counties</caption>
  <tbody>
    <tr *ngFor="let countyTop of countyTops" appColorize>
      <td>{{countyTop.county}}</td>
      <td>{{countyTop.total}}</td>
    </tr>
  </tbody>
</table>
<app-loader *ngIf="isLoading"></app-loader>
<table class="stat-table" *ngIf="!isLoading">
  <caption>Bottom counties</caption>
  <tbody>
    <tr *ngFor="let countyBottom of countyBottoms" appColorize>
      <td>{{countyBottom.county}}</td>
      <td>{{countyBottom.total}}</td>
    </tr>
  </tbody>
</table>