<app-portal>
  <ng-container class="render">
    <div class="tabs">
      <ol class="tabs__links">
        <li data-revealId="student-add" data-default="true" appTabView appPermitted [table]="'student'"
          [operation]="'create'">Add student</li>
        <li data-revealId="student-list" appTabView (click)="viewStudents('active')" appTabView appPermitted
          [table]="'student'" [operation]="'select'">View students</li>
        <li data-revealId="printing" appTabView (click)="printAll()" appTabView appPermitted [table]="'student'"
          [operation]="'select'">Printing</li>
      </ol>
      <div class="tabs__content">
        <div data-revealId="student-add" appPermitted [table]="'student'" [operation]="'create'" class="tabs tabs--vertical">
          <ol class="tabs__links tabs__links--vertical">
            <li data-revealId="new-single-student" data-default="true" appTabView>New</li>
            <li data-revealId="new-from-file" appTabView>Bulk import</li>
          </ol>
          <div class="tabs__content tabs__content--vertical">
            <div data-revealId="new-single-student">
              <form #studentForm="ngForm" ngNativeValidate (ngSubmit)="addStudent(studentForm.value)">
                <span>New student</span>
                <div class="inputs">
                  <fieldset>
                    <label for="adm">Admission number</label>
                    <input type="text" name="adm" id="adm" ngModel required autocomplete="off">
                  </fieldset>
                  <fieldset>
                    <label for="admitted">Date of Admission</label>
                    <input type="date" name="admitted" id="admitted" ngModel required autocomplete="off">
                  </fieldset>
                </div>
                <div class="inputs">
                  <fieldset>
                    <label for="fname">First name</label>
                    <input type="text" name="fname" id="fname" ngModel required autocomplete="off">
                  </fieldset>
                  <fieldset>
                    <label for="mname">Middle name</label>
                    <input type="text" name="mname" id="mname" ngModel autocomplete="off">
                  </fieldset>
                  <fieldset>
                    <label for="lname">Last name</label>
                    <input type="text" name="lname" id="lname" ngModel required autocomplete="off">
                  </fieldset>
                </div>
                <div class="inputs">
                  <fieldset>
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob" id="dob" ngModel required autocomplete="off">
                  </fieldset>
                  <fieldset>
                    <label for="gender">Gender</label>
                    <div>
                      <div>
                        <input type="radio" id="male" name="gender" ngModel required value="Male">
                        <label for="male">Male</label>
                      </div>
                      <div>
                        <input type="radio" id="female" name="gender" ngModel required value="Female">
                        <label for="female">Female</label>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <label for="county">County</label>
                    <select name="county" id="county" required ngModel>
                      <option [value]="county" *ngFor="let county of counties">{{county | titlecase}}</option>
                    </select>
                  </fieldset>
                </div>
                <div class="submit">
                  <fieldset>
                    <app-loader *ngIf="studentIsAdding"></app-loader>
                    <button class="btn btn--blue" [disabled]="studentIsAdding">Add student</button>
                  </fieldset>
                </div>
              </form>
            </div>
            <div data-revealId="new-from-file">
              <form #bulkForm="ngForm" enctype="multipart/form-data">
                <span>Import from file</span>
                <p><a [href]="baseUrl + '/student-template.xlsx'" download>Download template</a> then fill the file and
                  upload it here.</p>
                <div class="input">
                  <fieldset>
                    <label for="template">Select filled template file</label>
                    <input type="file" name="template" id="template" required ngModel accept=".xlsx"
                      (change)="processUploadedTemplate($event.target)">
                  </fieldset>
                </div>
              </form>
              <app-loader *ngIf="processingFile"></app-loader>
              <table *ngIf="bulkStudents">
                <thead>
                  <th>Adm</th>
                  <th>Admitted</th>
                  <th>Fname</th>
                  <th>Mname</th>
                  <th>Lname</th>
                  <th>D.o.B</th>
                  <th>Gender</th>
                  <th>County</th>
                  <th>State</th>
                </thead>
                <tbody>
                  <tr *ngFor="let student of bulkStudents">
                    <td>{{student.adm}}</td>
                    <td>{{student.admitted}}</td>
                    <td>{{student.fname}}</td>
                    <td>{{student.mname}}</td>
                    <td>{{student.lname}}</td>
                    <td>{{student.dob}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.county}}</td>
                    <td>{{student.state}}</td>
                  </tr>
                  <tr>
                    <td colspan="7"></td>
                    <td colspan="2">
                      <button class="btn btn--blue" [disabled]="bulkStudents.length === 0 || isSavingBulk"
                        (click)="saveBulk()">Add {{bulkStudents.length | number}} students</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div data-revealId="student-list" appPermitted [table]="'student'" [operation]="'select'">
          <div class="tabs tabs--vertical">
            <ol class="tabs__links tabs__links--vertical">
              <li data-revealId="active-students" data-default="true" appTabView>Active</li>
              <li data-revealId="on-leave" (click)="viewStudents('leave')" appTabView>On leave</li>
              <li data-revealId="suspended-students" (click)="viewStudents('suspended')" appTabView>Suspended</li>
              <li data-revealId="expelled-students" (click)="viewStudents('expelled')" appTabView>Expelled</li>
              <li data-revealId="archived-students" (click)="viewStudents('archived')" appTabView>Archived</li>
              <li data-revealId="assign-class" (click)="viewMisplaced()" appTabView>Assign Class</li>
            </ol>
            <div class="tabs__content tabs__content--vertical">
              <div data-revealId="active-students">
                <app-normal-pagination [total]="totalActive" [sorts]="commonSorts" *ngIf="activeStudents"
                  (options)="onOptionsChange($event, 'active')">
                </app-normal-pagination>
                <app-loader *ngIf="isFindingStudents"></app-loader>
                <app-student-list [students]="activeStudents" [cat]="'normalview'"></app-student-list>
              </div>
              <div data-revealId="on-leave">
                <app-normal-pagination [total]="totalLeave" [sorts]="leaveSorts" *ngIf="leaveStudents"
                  (options)="onOptionsChange($event, 'leave')">
                </app-normal-pagination>
                <app-loader *ngIf="isFindingStudents"></app-loader>
                <app-student-list [students]="leaveStudents" [cat]="'outView'"></app-student-list>
              </div>
              <div data-revealId="suspended-students">
                <app-normal-pagination [total]="totalSuspended" [sorts]="suspendedSorts" *ngIf="suspendedStudents"
                  (options)="onOptionsChange($event, 'suspended')">
                </app-normal-pagination>
                <app-loader *ngIf="isFindingStudents"></app-loader>
                <app-student-list [students]="suspendedStudents" [cat]="'outView'"></app-student-list>
              </div>
              <div data-revealId="expelled-students">
                <app-normal-pagination [total]="totalExpelled" [sorts]="expelledSorts" *ngIf="expelledStudents"
                  (options)="onOptionsChange($event, 'expelled')">
                </app-normal-pagination>
                <app-loader *ngIf="isFindingStudents"></app-loader>
                <app-student-list [students]="expelledStudents" [cat]="'oldview'"></app-student-list>
              </div>
              <div data-revealId="archived-students">
                <app-normal-pagination [total]="totalArchived" [sorts]="archivedSorts" *ngIf="archivedStudents"
                  (options)="onOptionsChange($event, 'archived')">
                </app-normal-pagination>
                <app-loader *ngIf="isFindingStudents"></app-loader>
                <app-student-list [students]="archivedStudents" [cat]="'oldview'"></app-student-list>
              </div>
              <div data-revealId="assign-class">
                <app-normal-pagination [total]="totalMisplaced" [sorts]="commonSorts" *ngIf="misplacedStudents"
                  (options)="onMisplacedOptionsChange($event)">
                </app-normal-pagination>
                <app-loader *ngIf="isFindingStudents"></app-loader>
                <app-student-list [students]="misplacedStudents" [cat]="'misplacedView'"
                  (selection)="onSelectedStudents($event)"></app-student-list>
                <form #addToBatchForm="ngForm" (ngSubmit)="addToBatch(addToBatchForm.value)"
                  *ngIf="selectedStudents.length > 0" ngNativeValidate>
                  <div class="input">
                    <fieldset>
                      <label for="batch">Select class to add {{selectedStudents.length | number}} students</label>
                      <select name="batch" id="batch" ngModel required>
                        <option [value]="batch.id" *ngFor="let batch of batches">{{batch.name}}-{{batch.academic_year}}
                        </option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="submit">
                    <fieldset>
                      <button class="btn btn--blue" [disabled]="isAddingToBatch">Add students</button>
                      <app-loader *ngIf="isAddingToBatch"></app-loader>
                    </fieldset>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div data-revealId="printing" appPermitted [table]="'student'" [operation]="'select'">
          <div class="tabs tabs--vertical">
            <ol class="tabs__links tabs__links--vertical">
              <li data-revealId="print-all" data-default="true" appTabView>Print all</li>
              <li data-revealId="print-by-admitted" appTabView>By admission date</li>
              <li data-revealId="print-by-county" appTabView>By county</li>
              <li data-revealId="student-contacts" appTabView (click)="printContacts('students')">Students' contacts
              </li>
              <li data-revealId="parent-contacts" appTabView (click)="printContacts('parents')">Parents' contacts</li>
            </ol>
            <div class="tabs__content tabs__content--vertical">
              <div data-revealId="print-all">
                <iframe [src]="printAllUrl" *ngIf="printAllUrl" frameborder="0"></iframe>
              </div>
              <div data-revealId="print-by-admitted">
                <form #byDateForm="ngForm" (ngSubmit)="printByDate(byDateForm.value)" ngNativeValidate>
                  <span></span>
                  <div class="inputs">
                    <fieldset>
                      <label for="startDate">Start date</label>
                      <input type="date" name="startDate" id="startDate" ngModel required>
                    </fieldset>
                    <fieldset>
                      <label for="endDate">End date</label>
                      <input type="date" name="endDate" id="endDate" ngModel required>
                    </fieldset>
                    <fieldset>
                      <label for="gender">Gender</label>
                      <select name="gender" id="gender" ngModel="all" required>
                        <option value="all">All</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </fieldset>
                    <fieldset>
                      <label for="" style="color: transparent;">.</label>
                      <button class="btn btn--blue">Print</button>
                    </fieldset>
                  </div>
                </form>
                <iframe [src]="byDateUrl" *ngIf="byDateUrl" frameborder="0"></iframe>
              </div>
              <div data-revealId="print-by-county">
                <form #byCountyForm="ngForm" (ngSubmit)="printByCounty(byCountyForm.value)" ngNativeValidate>
                  <span></span>
                  <div class="inputs">
                    <fieldset>
                      <label for="county">County</label>
                      <select name="county" id="county" ngModel required>
                        <option [value]="county" *ngFor="let county of counties">{{county}}</option>
                      </select>
                    </fieldset>
                    <fieldset>
                      <label for="gender">Gender</label>
                      <select name="gender" id="gender" ngModel="all" required>
                        <option value="all">All</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </fieldset>
                    <fieldset>
                      <label for="" style="color: transparent;">.</label>
                      <button class="btn btn--blue">Print</button>
                    </fieldset>
                  </div>
                </form>
                <iframe [src]="byCountyUrl" *ngIf="byCountyUrl" frameborder="0"></iframe>
              </div>
              <div data-revealId="student-contacts">
                <iframe [src]="studentContactsUrl" *ngIf="studentContactsUrl" frameborder="0"></iframe>
              </div>
              <div data-revealId="parent-contacts">
                <iframe [src]="parentContactsUrl" *ngIf="parentContactsUrl" frameborder="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-portal>