<app-portal>
  <ng-container class="render">
    <div class="tabs">
      <ol class="tabs__links">
        <li data-revealId="teacher-add" data-default="true" appTabView appTabView appPermitted [table]="'teacher'"
          [operation]="'create'">Add teacher</li>
        <li data-revealId="teacher-list" appTabView (click)="viewTeachers()" appTabView appPermitted [table]="'teacher'"
          [operation]="'select'">View teachers</li>
        <li data-revealId="teacher-print" appTabView (click)="print()" appTabView appPermitted [table]="'teacher'"
          [operation]="'select'">Print</li>
      </ol>
      <div class="tabs__content">
        <div data-revealId="teacher-add" appPermitted [table]="'teacher'" [operation]="'create'">
          <form #teacherForm="ngForm" (ngSubmit)="addTeacher(teacherForm)" ngNativeValidate>
            <span>Create teacher</span>
            <div class="inputs">
              <fieldset>
                <label for="employee">Select employee to create as teacher</label>
                <select name="employee" id="employee" ngModel required *ngIf="!isGettingEmployees">
                  <option [value]="employee.id" *ngFor="let employee of employees">
                    {{employee.empNo}}-{{employee.fname}} {{employee.lname}}
                  </option>
                </select>
                <app-loader *ngIf="isGettingEmployees"></app-loader>
              </fieldset>
              <fieldset>
                <app-loader *ngIf="isAddingTeacher"></app-loader>
                <label style="color: transparent;">.</label>
                <button class="btn btn--blue" [disabled]="isAddingTeacher">Create teacher</button>
              </fieldset>
            </div>
          </form>
        </div>
        <div data-revealId="teacher-list" appPermitted [table]="'teacher'" [operation]="'select'">
          <app-normal-pagination [total]="total" [sorts]="sorts" *ngIf="teachers" (options)="onOptionsChange($event)">
          </app-normal-pagination>
          <app-loader *ngIf="isGettingTeachers"></app-loader>
          <table *ngIf="!isGettingTeachers" class="not-mobile">
            <thead>
              <tr>
                <th>Emp No.</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teacher of teachers" class="clickable" (click)="viewTeacher(teacher.id)">
                <td>{{teacher.empNo}}</td>
                <td>{{teacher.employee}}</td>
                <td>{{teacher.gender}}</td>
                <td>{{teacher.phone}}</td>
                <td>{{teacher.email}}</td>
              </tr>
            </tbody>
          </table>
          <table *ngIf="!isGettingTeachers" class="mobile-only">
            <tbody>
              <tr *ngFor="let teacher of teachers" class="clickable" (click)="viewTeacher(teacher.id)">
                <div>
                  <span>Emp No.</span>
                  <span>{{teacher.empNo | uppercase}}</span>
                </div>
                <div>
                  <span>Name</span>
                  <span>{{teacher.employee | titlecase}}</span>
                </div>
                <div>
                  <span>Gender</span>
                  <span>{{teacher.gender | titlecase}}</span>
                </div>
                <div>
                  <span>Phone</span>
                  <span>{{teacher.phone}}</span>
                </div>
                <div>
                  <span>Email</span>
                  <span>{{teacher.email | lowercase}}</span>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="teacher-print" appPermitted [table]="'teacher'" [operation]="'select'">
          <iframe [src]="printUrl" *ngIf="printUrl" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </ng-container>
</app-portal>