/* You can add global styles to this file, and also import other style files */
$theme-color: rgb(27, 155, 240);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: #e4e4e4fa;
    font-family: 'Open Sans','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell',
    'Helvetica Neue',sans-serif;
}

fieldset {
    border-width: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    label {
        background-color: #fff;
        margin: 10px 0;
        width: 100%;
    }

    & > div {
        display: flex;
        div {
            & > * {
                margin: auto 5px auto 0;
            }
        }
    }
}

input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=search],
input[type=tel],
input[type=email],
input[type=time],
select {
    background-color: #fff;
    padding: 5px 8px;
    width: 100%;
    border-radius: 3px;
    border: thin solid #e7e7e7;
}

input:invalid, select:invalid {
    box-shadow: none;
}

input[type=checkbox],
input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid $theme-color;
    width: 15px;
    height: 15px;

    &:checked {
        background-color: $theme-color;
    }
}
*[disabled] {
    cursor: not-allowed !important;
    background-color: #b4b4b4 !important;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    resize: none;
    border: thin solid #e7e7e7;
    padding: 5px 8px;
    height: 200px;
}

input[type=radio] {
    border-radius: 50%;
}

.danger {
    color: red;
    background-color: #fff !important;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

.clickable {
    cursor: pointer !important;
    &:hover {
        color: #fff !important;
        background-color: rgb(112, 179, 223);
    }
}

button, .btn {
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    border-width: 0;
    font-weight: 400;
    font-size: 12px;
    transition-property: all;
    transition-duration: 200ms;
    white-space: nowrap;

    &--blue {
        background-color: $theme-color;
    }

    &--green {
        background-color: rgb(41, 212, 41);
    }

    &--red {
        background-color: rgb(235, 77, 77);
    }

    &--standalone {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }

    &:hover {
        box-shadow: 2px 2px 2px #b4b4b4;
    }
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--vertical {
        display: block;
        align-items: baseline !important;
    }

    &__links {
        list-style-type: none;
        background-color: #fff;
        padding: 10px;
        width: 100%;
        filter: drop-shadow(2px 2px 2px #b4b4b4);

        &--vertical {
            display: flex;
            flex-direction: column;
            width: 20%;
            position: fixed;
            float: left;

            li {
                margin-bottom: 20px !important;
                text-transform: capitalize !important;
                border-bottom: 3px solid transparent !important;
            }
        }

        li {
            display: inline;
            margin: 0 30px;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-bottom: 5px;
            transition-property: all;
            transition-duration: 200ms;
        }

        &--active {
            color: $theme-color;
            font-weight: bold;
            border-bottom: 3px solid $theme-color;
        }
    }

    &__content {
        width: 100%;
        margin-top: 30px;
        
        & > div {
            display: none;
            animation: fadeOut 1s;
        } 

        &--vertical {
            background-color: #fff;
            padding: 10px 20px;
            width: 77%;
            float: right;
            table {
                margin-top: 0;
            }
        }
    } 
}

.item-title {
    color: $theme-color;
    text-transform: uppercase;
    margin: 0 10px;
    font-weight: bold;
    span {
        opacity: .6;
    }
}

.details-table {
    min-width: 80%;
    td {
        &:first-child {
            opacity: .5;
        }

        &:last-child {
            color: $theme-color;
        }
    }
}

form {
    background-color: #fff;
    padding: 0 30px 30px 30px;
    border-radius: 3px;
    margin: 1em auto;
    filter: drop-shadow(-2px 2px 2px #727272);
    display: flex;
    flex-direction: column;

    & > span {
        font-weight: 700;
        font-size: 20px;
        padding: 10px 0;
        width: 100%;
        text-transform: capitalize;
        opacity: .6;
    }
}

table {
    border-collapse: collapse;
    background-color: #fff;
    filter: drop-shadow(2px 2px 2px #b4b4b4);
    border-radius: 0 0 4px 4px;
    margin: 1em auto;
    
    caption {
        background-color: #fff;
        border-radius: 3px 3px 0 0;
        text-align: left;
        padding: 5px 5px 10px 5px;
        font-size: 20px;
        opacity: .9;
        color: #fff;
        font-weight: 400;
        background-color: $theme-color;
    }
    th, td {
        padding: 10px;
        text-align: left;
        white-space: nowrap;
    }
    tr {
        border-bottom: thin solid #e7e7e7;
    }

    tfoot {
        padding: 20px 5px;
    }

    &.mobile-only {
        tr {
            div {
                display: flex;
                flex-direction: row;
                margin-bottom: 1px;

                &:first-child {
                    margin-top: 15px;
                }

                &:last-child {
                    margin-bottom: 15px;
                }
        
                span {
                    text-overflow: ellipsis;
                    padding: 3px;

                    &:first-child {
                        flex-basis: 30%;
                        text-align: right;
                    }

                    &:last-child {
                        flex-basis: 70%;
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

.green {
    color: rgb(41, 212, 41) !important;
    background-color: #fff !important;
    &-inverted {
        color: #fff;
        background-color: rgb(41, 212, 41) !important;
    }
}

.blue {
    color: $theme-color;
    background-color: #fff !important;
    &-inverted {
        background-color: $theme-color !important;
        color: #fff;
    }   
}
.bold {
    font-weight: bold !important;
}

.stat-table {
    width: 100% !important;
    caption {
        background-color: #cecece5e;
        color: #000000;
        font-weight: bold;
        opacity: .5;
        font-size: 14px;
        border: thin solid #cfcece;
    }
    td {
        &:last-child {
            text-align: right;
        }
    }
}

.submit {
    margin-top: 20px;
}

iframe {
    height: 100vh;
    width: 100%;
}

.cat-selector {
    & > * {
        margin-bottom: 5px;
    }
}

@media all and (min-width: 1050px) {
    label {
        white-space: nowrap;
    }

    table {
        min-width: 60%;
    }
    .cat-selector {
        display: flex !important;
        flex-direction: row;
        margin-bottom: 5px;

        & > * {
            margin-right: 10px;
        }
    }

    .input {
        &s {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & > * {
                flex: 1 0 auto;
                margin-right: 10px;
            }
        }
    }

    .mobile-only {
        display: none !important;
    }

    .tabs {
        &__links {
            position: fixed;
            top: 7.1vh;
            z-index: 150;
            width: 84%;

            &--vertical {
                width: 18% !important;
                margin-top: 50px;
                z-index: 80;
            }
        }
    }
}

@media all and (max-width: 1050px) and (min-width: 501px) {
    .tabs {
        &__links {
            position: fixed;
            z-index: 150;
            top: 7vh;
            width: 100%;
            left: 0;

            &--vertical {
                display: flex;
                flex-direction: row;
                left: auto;
                top: auto;
                flex-wrap: wrap;
                width: 100%;
                z-index: 80;
                position: relative !important;
                margin-top: 15px;
            }
        }

        &__content {
            margin-top: 20px;
            width: 100% !important;
        }
    }
    .not-tab {
        display: none !important;
    }

    .mobile-only {
        display: none !important;
    }
}
 
 @media all and (max-width: 501px) {
    button, .btn {
        width: 100%;
    }

    .tabs {
        z-index: 299;
    
        &__links {
            li {
                margin: 0 6px;
                font-size: 10px;
            }

            &--vertical {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }
        }

        &--vertical {
            display: flex;
            flex-direction: column;
            z-index: 150;
            margin: 0;
            margin-top: 10px;

            ol {
                width: 100%;
            }
        }

        &__content {
            padding: 0;
            margin: 30px 0 !important;

            &--vertical {
                width: 100%;
            }
        }
    }
    .not-mobile {
        display: none !important;
    }

    table {
        width: 100%;
    }

    #container {
        .tabs__links {
            position: fixed;
            z-index: 300;

            &--vertical {
                position: relative !important;
                z-index: 80 !important;
            }
        }
        .tabs__content {
            margin-top: 5px;
            background-color: transparent;
        }
    }
 }