/* You can add global styles to this file, and also import other style files */
@import url("./assets/css/fa/css/font-awesome.min.css");
@import url("./assets/css/toastr.min.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
:root {
    --theme-color: #008081;
    --header-height: 8vh;
    --desktop-side-bar-width: 15vw;
}

body {
    background-color: #e4e4e4fa;
    font-family: 'Open Sans','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell',
    'Helvetica Neue',sans-serif;
    font-size: 18px;
}

.mobile, .tablet, .ipad, .desktop {
    display: none;
}

.hide {
    display: none !important;
}

form {
    margin: 3px auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 3px 3px #b4b4b4;

    .form-title {
        padding: 10px;
        background-color: var(--theme-color);
        display: flex;
        flex-direction: column;
        color: #fff;

        span {
            text-align: left;
        }

        .form-heading {
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 7px;
        }
    }

    fieldset {
        padding: 5px 4px;
        border-width: 0;
        display: flex;
        flex-direction: column;

        & > * {
            width: 100%;
        }

        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 7px;
            }
        }
    }
}

input[type=text],
input[type=email],
input[type=number],
input[type=tel],
input[type=search],
input[type=date],
input[type=password],
input[type=address],
textarea,
select {
    border: thin solid #e7e7e7;
    padding: 5px;
    border-radius: 4px;
    height: 35px;
    background-color: #fff;
}

textarea {
    height: 100px;
}

.btn {
    padding: 5px;
    border-radius: 4px;
    border-width: 0;
    height: 35px;
    min-width: 100px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 500ms;
    margin: 5px;

    &--primary {
        color: #fff;
        background-color: var(--theme-color);
    }

    &--danger {
        color: #fff;
        background-color: red;
    }
}

*:disabled {
    color: #fff;
    background-color: #b4b4b4;
    cursor: not-allowed;
}

table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    margin: 10px auto;
    border-spacing: 0;
    width: 100%;

    td, th {
        white-space: nowrap;
        padding: 5px;
        text-align: left;
        font-size: 16px;
        border-bottom-color: rgba(0,0,0,.12) !important;

        button {
            margin: 0 auto;
        }
    }

    tr {
        height: 48px;
    }

    td:first-of-type, td:first-of-type, th:first-of-type {
        padding-left: 24px;
    }

    th:last-of-type, td:last-of-type{
        padding-right: 24px;
    }

    td {
        background-color: #fff !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        font-size: 14px;
    }

    thead {
        tr {
            height: 56px;

            th {
                font-weight: 500;
                color: rgba(0,0,0,.54);
                font-size: 12px;
                text-align: left;
            }
        }
    }
}

.mat-dialog-actions {
    position: absolute;
    bottom: 30px;
    width: 90%;
    background-color: #fff;
    z-index: 20;
}

.mat-dialog-container {
    background: #fff;
    color: #000 !important;
    position: relative;
}

.mat-tab-label, .mat-tab-link {
    color: var(--theme-color);
    opacity: 1;
}
.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    background: var(--theme-color);
}

.clickable {
    transition-property: all;
    transition-duration: 300ms;

    &:hover {
        cursor: pointer;
        color: var(--theme-color);
    }
}

.action-icon {
    font-size: 20px;
    padding: 10px;

    &--danger {
        color: red;
    }
}

.transparent {
    color: transparent !important;

    & + button {
        margin-top: 0;
    }
}

@media only screen and (max-width: 500px) {
    .mobile {
        display: block;
    }

    form {
        width: 100%;
    }

    table {
        &.mobile {
            display: table;
        }
        article {
            margin: 5px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 2px 2px 2px #e7e7e7;
            tr {
                width: 100%;
                display: flex;
                td {
                    border: none;
                }
                td:first-child {
                    opacity: .8;
                    flex-basis: 40%;
                }
                td:last-child {
                    flex-basis: 60%;
                }
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    .tablet {
        display: block;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .form-title {
            flex-basis: 100%;
        }

        fieldset {
            flex-basis: 49%;

            &:last-child {
                flex-basis: 100%;

                .btn {
                    width: 50%;
                }
            }
        }
    }
    table {
        &.tablet {
            display: table;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1050px) {
    .ipad {
        display: block;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .form-title {
            flex-basis: 100%;
        }

        fieldset {
            flex-basis: 33%;

            &:last-child {
                flex-basis: 100%;

                .btn {
                    width: 33%;
                }
            }
        }
    }

    table {
        &.ipad {
            display: table;
        }
    }
}

.info {
    margin: 1em auto; 
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

iframe {
    width: 100%;
    height: 900px;
}

.full-width {
    width: 100%;
    flex-basis: 100%;
}

@media only screen and (min-width: 1050px) {
    .desktop {
        display: block;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .form-title {
            flex-basis: 100%;
        }

        fieldset {
            flex-basis: 33%;

            &:last-child {
                flex-basis: 100%;

                .btn {
                    width: 33%;
                }
            }
        }
    }

    table {
        min-width: 60%;
        &.desktop {
            display: table;
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
