<app-portal>
  <ng-container class="render">
    <div>
      <button class="btn btn--blue" (click)="back()">Back</button>
      <span class="item-title">{{teacher?.employee}}</span>
    </div>
    <div class="tabs tabs--vertical">
      <ol class="tabs__links tabs__links--vertical">
        <li data-revealId="details" data-default="true" appTabView appTabView appPermitted [table]="'teacher'"
          [operation]="'select'">Details</li>
        <li data-revealId="add-role" appTabView (click)="getBatches()" appTabView appPermitted [table]="'teacher_role'"
          [operation]="'create'">Add role</li>
        <li data-revealId="view-roles" appTabView (click)="getRoles()">View roles</li>
      </ol>
      <div class="tabs__content tabs__content--vertical">
        <div data-revealId="details" appTabView appPermitted [table]="'teacher'" [operation]="'select'">
          <app-loader *ngIf="isGettingDetails"></app-loader>
          <table class="details-table" *ngIf="!isGettingDetails">
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{teacher?.employee | titlecase}}</td>
              </tr>
              <tr>
                <td>Employee number</td>
                <td>{{teacher?.empNo | titlecase}}</td>
              </tr>
              <tr>
                <td>Gender</td>
                <td>{{teacher?.gender}}</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>{{teacher?.phone}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{teacher?.email | lowercase}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="add-role" appTabView appPermitted [table]="'teacher_role'" [operation]="'create'">
          <form #roleForm="ngForm" (ngSubmit)="addRole(roleForm)" ngNativeValidate>
            <div class="input">
              <fieldset>
                <label for="role">Role</label>
                <input type="text" id="role" name="role" ngModel required autocomplete="off">
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="batch">Batch/Class</label>
                <select name="batch" id="batch" required ngModel *ngIf="!isGettingBatches">
                  <option [value]="batch.id" *ngFor="let batch of batches">{{batch.name}}-{{batch.academic_year}}
                  </option>
                </select>
              </fieldset>
            </div>
            <div class="submit">
              <fieldset>
                <button class="btn btn--blue"
                  [disabled]="roleForm.pristine || isAddingRole || isGettingBatches">Update</button>
              </fieldset>
            </div>
          </form>
        </div>
        <div data-revealId="view-roles">
          <app-loader *ngIf="isGettingRoles"></app-loader>
          <table *ngIf="!isGettingRoles">
            <thead>
              <th>Batch</th>
              <th>Role</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let role of roles">
                <td>{{role.batch}}</td>
                <td>{{role.role}}</td>
                <td class="danger" (click)="removeRole(role.id)">Delete</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container class="insights">
  </ng-container>
  <ng-container class="quick-actions"></ng-container>
</app-portal>