<app-portal>
  <ng-container class="render">
    <div>
      <button class="btn btn--blue" (click)="back()">Back</button>
      <span class="item-title">Form {{clas?.level}}</span>
    </div>
    <div class="tabs tabs--vertical">
      <ol class="tabs__links tabs__links--vertical">
        <li data-revealId="details" data-default="true" appTabView>Details</li>
        <li data-revealId="update" appTabView appPermitted [table]="'class'" [operation]="'update'">Update details</li>
        <li data-revealId="view-students" appTabView (click)="viewStudents()">View students</li>
        <li data-revealId="add-stream" appTabView>Add stream</li>
        <li data-revealId="view-streams" appTabView (click)="viewStreams()">View streams</li>
        <li data-revealId="print-students" appTabView (click)="printStudents()">Print students</li>
        <li data-revealId="danger" appTabView appPermitted [table]="'class'" [operation]="'delete'">Danger zone</li>
      </ol>
      <div class="tabs__content tabs__content--vertical">
        <div data-revealId="details">
          <app-loader *ngIf="isGettingBasicDetails"></app-loader>
          <table class="details-table" *ngIf="!isGettingBasicDetails && clas">
            <tbody>
              <tr>
                <td>Name</td>
                <td>Form {{clas?.level}}</td>
              </tr>
              <tr>
                <td>Fees</td>
                <td>{{clas?.fees | currency: 'Kshs. '}}</td>
              </tr>
              <tr>
                <td>Streams</td>
                <td>{{clas?.streams}}</td>
              </tr>
              <tr>
                <td>Total students</td>
                <td>{{clas?.students | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="update" appPermitted [table]="'class'" [operation]="'update'">
          <form #classForm="ngForm" (ngSubmit)="updateClass(classForm.value)">
            <span></span>
            <div class="input">
              <fieldset>
                <label for="level">Class level</label>
                <input type="number" required name="level" autocomplete="off" id="level" [ngModel]="clas?.level" readonly>
              </fieldset>
            </div>
            <div class="input">
              <fieldset>
                <label for="fees">Fee payable</label>
                <input type="number" required name="fees" id="fees" [ngModel]="clas?.fees">
              </fieldset>
            </div>
            <div class="submit">
              <fieldset>
                <button class="btn btn--blue" [disabled]="isSavingClass">Save</button>
              </fieldset>
              <app-loader *ngIf="isSavingClass"></app-loader>
            </div>
          </form>
        </div>
        <div data-revealId="view-students">
          <app-normal-pagination [total]="totalStudents" [sorts]="['adm','student']" (options)="onOptionsChange($event)">
          </app-normal-pagination>
          <app-loader *ngIf="isGettingStudents"></app-loader>
          <table *ngIf="!isGettingStudents && students" class="not-mobile">
            <caption>Showing all {{students.length}} students</caption>
            <thead>
              <tr>
                <th>Adm</th>
                <th>Name</th>
                <th>Class</th>
                <th>Admitted</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <td>{{student.adm | uppercase}}</td>
                <td>{{student.student | titlecase}}</td>
                <td>Form {{student.class}}</td>
                <td>{{student.admitted | date: 'y'}}</td>
              </tr>
            </tbody>
          </table>
          <table *ngIf="!isGettingStudents && students" class="mobile-only">
            <tbody>
              <tr *ngFor="let student of students">
                <div>
                  <span>Adm</span>
                  <span>{{student.adm | uppercase}}</span>
                </div>
                <div>
                  <span>Name</span>
                  <span>{{student.student | titlecase}}</span>
                </div>
                <div>
                  <span>Class</span>
                  <span>Form {{student.class}}</span>
                </div>
                <div>
                  <span>Admitted</span>
                  <span>{{student.admitted | date: 'y'}}</span>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="add-stream">
          <form #streamForm="ngForm" (ngSubmit)="addStream(streamForm)" ngNativeValidate>
            <span>Create stream</span>
            <div class="inputs">
              <fieldset>
                <label for="name">Name of stream</label>
                <input type="text" name="name" id="name" ngModel required autocomplete="off">
              </fieldset>
              <fieldset>
                <label for="vdcg" style="color: transparent;">.</label>
                <button class="btn btn--blue" [disabled]="isAddingStream">Save stream</button>
                <app-loader *ngIf="isAddingStream"></app-loader>
              </fieldset>
            </div>
          </form>
        </div>
        <div data-revealId="view-streams">
          <table *ngIf="!isGettingStreams && streams">
            <thead>
              <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Students</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stream of streams">
                <td>Form {{stream.level}} {{stream.name}}</td>
                <td>Form {{stream.level}}</td>
                <td>{{stream.students | number}}</td>
                <td><a [routerLink]="'/class/stream/'+stream.id">More</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-revealId="print-students">
          <iframe [src]="printUrl" *ngIf="printUrl" frameborder="0"></iframe>
        </div>
        <div data-revealId="danger">Danger zone</div>
      </div>
    </div>
  </ng-container>
</app-portal>