#module-pane, #container {
    position: absolute;
}

#title-bar, #module-pane {
    position: fixed;
}

.row-end {
    margin-left: auto !important;
}

#title-bar {
    background-color: #fff;
    width: 100%;
    filter: 1px 1px 3px 1px #e7e7e7;
    z-index: 90;
    padding: 3px 5px;
    display: flex;
    flex-direction: row;

    div {
        margin: auto 20px;
        height: 100%;
    }

    & > img {
        height: 70%;
        margin: auto 20px;
        cursor: pointer;
    }

    #account {
        display: flex;
        flex-direction: row;
        img {
            height: 90%;
        }
        div {
            display: flex;
            flex-direction: column;
            
            span {
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            span:first-child {
                font-weight: bold;
                text-transform: capitalize;
                font-size: 80%;
            }

            span:last-child {
                text-transform: uppercase;
                opacity: .8;
                font-size: 60%;
                margin-top: 5px;
            }
        }
    }

    #school {
        display: flex;
        flex-direction: row;

        & > * {
            margin: auto 10px;
        }
        & > img {
            margin: 0 !important;
        }
        span {
            font-weight: bold;
            text-transform: capitalize;
            white-space: nowrap;
            font-size: 90%;
        }
    }
}

#module-pane {
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    z-index: 90;
    padding-bottom: 10px;

    a {
        width: 100%;
        margin-top: 13px;
        text-align: center;
        cursor: pointer;
        border-left: 3px solid transparent;
        transition-property: all;
        transition-duration: 300ms;

        span {
            text-overflow: ellipsis;
        }

        &:hover {
            border-left-color: rgb(27, 155, 240);
        }

        img {
            width: 40%;
        }
    }
}

.active-module {
    border-left-color: rgb(41, 212, 41) !important;
}

#container {
    justify-content: space-between;
    padding-bottom: 20px;
    height: auto;
}

#render {
    background-color: transparent;
}

@media all and (min-width: 1050px) {
    #title-bar {
        top: 0;
        height: 7vh;
    }
    
    #module-pane {
        top: 7vh;
        height: 93vh;
        width: 5vw;
    }
    
    #container {
        top: 7vh;
        width: 93vw;
        left: 6vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #render {
        min-width: 100%;
    }
}

@media all and (max-width: 1050px) and (min-width: 501px) {
    #container {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        width: 92vw;
        left: 6vw;
        top: 7vh;

        & > * {
            width: 100%;
            padding: 0;
        }
    }
   
    #module-pane {
        top: 7vh;
        height: 93vh;
        width: 6vw;
    }
     
    #title-bar {
        top: 0;
        height: 7vh;
    }
    
    .mobile-only {
        display: none;
    }
}
 
@media all and (max-width: 501px) {
    #top-bar {
        height: 0;
    }
     
    #title-bar {
        top: 0;
        height: 7vh;
    }

    #account {
        div {
            span {
                white-space: nowrap;
                font-size: 12px !important;
            }
        }
    }
     
    #module-pane {
        top: 7vh;
        width: 100vw;
        height: 96vh;
        display: none;
        animation: mobileMenuAnimation 600ms;
        z-index: 500;

        a {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            text-align: left;
            text-decoration: none;
            color: #fff;

            img {
                height: 20px;
                width: 20%;
            }
        }
    }
     
    #container {
        top: 6vh;
        width: 96vw;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 1px;
    }

    #render {
        width: 100%;
        overflow-x: hidden;
        padding: 5px;
    }

    table {
        width: 100%;
        margin: 1em 20px;
    }
 }

 @keyframes mobileMenuAnimation {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }

    100% {
        transform: scaleY(1);
        transform-origin: top;
    }
 }