<main>
  <div id="title-bar">
    <img src="assets/icons/menu-dots.svg" *ngIf="!hideMenu" alt="Show Menu" class="mobile-only" (click)="toggleModules(true)">
    <img src="assets/icons/cross.svg" *ngIf="hideMenu" alt="Hide Menu" class="mobile-only" (click)="toggleModules(false)">
    <img src="assets/icons/menu.svg" alt="Show Menu" *ngIf="!hideMenu" class="tab-only" (click)="toggleModules(true)">
    <img src="assets/icons/cross.svg" alt="Hide Menu" *ngIf="hideMenu" class="tab-only" (click)="toggleModules(false)">
    <div id="account">
      <img src="assets/icons/avatar.svg" alt="User">
      <div>
        <span>{{user.name}}</span>
        <span>{{user.title}}</span>
      </div>
    </div>
    <div>
      <button class="btn btn--red" (click)="logout()">Logout</button>
    </div>
    <div class="row-end" id="school">
      <img src="favicon.ico" alt="Logo">
      <span class="not-mobile not-tab">St. Mary's Myanga Girls' High School</span>
    </div>
  </div>
  <div id="module-pane">
    <a routerLink="/students" title="Students" routerLinkActive="active-module">
      <img src="assets/icons/school.svg" alt="Students">
      <span>Students</span>
    </a>
    <a routerLink="/teachers" title="Teachers" routerLinkActive="active-module">
      <img src="assets/icons/user-group.svg" alt="Teachers">
      <span>Teachers</span>
    </a>
    <a routerLink="/finance" title="Finance" routerLinkActive="active-module">
      <img src="assets/icons/coins.svg" alt="Finance">
      <span>Finance</span>
    </a>
    <a routerLink="/hr" title="Human Resource" routerLinkActive="active-module">
      <img src="assets/icons/group.svg" alt="HR">
      <span>H.R</span>
    </a>
    <a routerLink="/users" title="Users" routerLinkActive="active-module">
      <img src="assets/icons/user.svg" alt="Users">
      <span>Users</span>
    </a>
    <a routerLink="/subjects" title="Subjects" routerLinkActive="active-module">
      <img src="assets/icons/book.svg" alt="Subjects">
      <span>Subjects</span>
    </a>
    <a routerLink="/exams" title="Exams" routerLinkActive="active-module">
      <img src="assets/icons/paper.svg" alt="Exams">
      <span>Exams</span>
    </a>
    <a routerLink="/attendance" title="Class attendance" routerLinkActive="active-module">
      <img src="assets/icons/tick.svg" alt="Attendance">
      <span>Attendance</span>
    </a>
    <a routerLink="/batch" title="Batch/Classes" routerLinkActive="active-module">
      <img src="assets/icons/folder.svg" alt="Batch">
      <span>Classes</span>
    </a>
    <a routerLink="/sms" title="SMS Service" routerLinkActive="active-module">
      <img src="assets/icons/chat.svg" alt="SMS">
      <span>Messaging</span>
    </a>
    <a routerLink="/institute" title="Institute" routerLinkActive="active-module">
      <img src="assets/icons/at.svg" alt="Institute">
      <span>Institute</span>
    </a>
    <a routerLink="/settings" title="Settings" routerLinkActive="active-module">
      <img src="assets/icons/gear.svg" alt="Settings">
      <span>Settings</span>
    </a>
  </div>
  <div id="container">
    <div id="render">
      <ng-content select=".render"></ng-content>
    </div>
  </div>
</main>