<h2 mat-dialog-title>{{user.name | uppercase}}</h2>
<mat-dialog-content>
    <app-loader *ngIf="isLoading"></app-loader>
    <mat-tab-group *ngIf="!isLoading">
        <mat-tab label="Details">
            <table class="default">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{user?.name | titlecase}}</td>
                    </tr>
                    <tr>
                        <td>Employee Number</td>
                        <td>{{user?.empNo | uppercase}}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td>{{user?.username | lowercase}}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{user?.state | titlecase}}</td>
                    </tr>
                    <tr>
                        <td>User Type</td>
                        <td>{{user?.type | titlecase}}</td>
                    </tr>
                    <tr>
                        <td>Date created</td>
                        <td>{{user?.created | date: 'short'}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-tab>
        <mat-tab label="Update">
            <app-add-user [data]="user" (submitted)="update($event)" [isLoading]="isUpdating" [title]="'Update User'">
            </app-add-user>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn--primary" [mat-dialog-close]="user">Close</button>
</mat-dialog-actions>